@charset "utf-8"; 

@use './variable' as *;


.navigation{
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: $z-float;
  /* display: none; */
  /* mix-blend-mode: difference; */

  .progress{
    width: 2px;
    height: 100%;
    background: hotpink;
    position: absolute;
    left:50%;
    margin-left: -1px;
    /* transform: translateX(-50%); */
    top: 0;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
    /* color: #fff; */

    li{
      position: relative;
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }

      .dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: hotpink;
        position: relative;
        z-index: 10;
      }

      span{
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        font-weight: bold;
      }
    }
  }
}

#logo-white {
  .half-circle, 
  .wave {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
  }
  .brush-head {
    fill: white;
    stroke: white;
  }
  .brush-body {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .search {
    fill: white;
  }
}

#logo-colored {
  .half-circle { stroke: url(#grad); fill: url(#grad); }
  .brush-head,
  .brush-body,
  .search { fill: url(#grad); stroke: url(#grad); }
  .wave1 { stroke: url(#wave-1); }
  .wave2 { stroke: url(#wave-2); }
  .wave3 { stroke: url(#wave-3); }
  .wave,
  .half-circle { fill: none; stroke-width: 10; stroke-linecap: round; }
  .brush-body { stroke-width: 1.5; stroke-linejoin: round; }
}

