@charset "utf-8"; 

@use './variable' as *;
@use './mixin' as *;


.quick-btns{
  position: fixed;
  right: $p-float;
  bottom: $p-section-y-l;
  z-index: $z-float;
  @include flex-center;
  flex-direction: column;
  

  i, iconify-icon{
    font-size: $font-icon;
  }

  button{
    width: $btn-m;
    height: $btn-m;
  }

  .logo-btn{
    position: relative;
    
    svg{
      position: absolute;
      width: 80%;
      top: 15%;
      height: auto;
    }
  }

  .top-btn{
    margin-top: 1em;
    color: var(--opacity);
  }

  a{
    font-size: inherit;
    width: $btn-s;
    height: $btn-s;
    margin: 0.8em 0;
  }

  .link-btns{

    opacity: 0;
    visibility: hidden;
    transform: translateY(1em);
    transition: all $trans-du ease;

    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .pdf-btn{ color: #EF5350; }
    .resume-btn{ color: #2c76b6; }
    .git-btn{ color: #1f2328; }
  }


}

.navigation{
  position: fixed;
  left: $p-float;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-float;

  @include portrait{
    left: auto;
    height: auto;
    width: 100vw;
    bottom: calc(100vh - $p-section-y-p + 1em);
  }

  &.is-diff{
    span{
      color: #fff;
    }
  }

  &.is-in-planning{
    @include portrait{
      &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: $p-section-y-p;
        background: var(--text-color);
        z-index: $z-behind;
      }
    }
  }

  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @include portrait{
      width: 70vw;
      height: auto;
      flex-direction: row;
    }

    .progress{
      position: absolute;
      top: 1.5em;
      bottom: 1.5em;
      left: 50%;
      margin-left: -0.05rem;
      width: 0.1rem;
      background: #fff;
      z-index: $z-behind;

      @include portrait{
        top: 50%;
        margin-top: -0.05rem;
        bottom: auto;
        left: 1.5em;
        right: 1.5em;
        margin-left: 0;
        width: auto;
        height: 0.1rem;
      }
    }

    li:not(.progress){
      position: relative;
      cursor: pointer;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;

      @include portrait{
        margin-bottom: 0;
        justify-content: center;
      }
      
      &:last-of-type{
        margin-bottom: 0;
      }

      .dot{
        position: relative;
        width: 3em;
        height: 3em;
      }

      span{
        position: absolute;
        font-size: $font-caption;
        opacity: 0;
        pointer-events: none;
        transition: all $trans-du ease;
        transform: translateX(0);

        @include portrait{
          text-align: center;
          transform: translateY(0);
        }
      }

      &.is-active{
        .dot{ transform: scale(1.5); }
        span{
          opacity: 1;
          transform: translateX($p-nav-span);

          @include portrait{
            transform: translateY(calc(-1 * $p-nav-span));
          }
        }
      }

      @include hover-effect{
        .dot{ transform: scale(1.5); }
        span{
          opacity: 1;
          transform: translateX($p-nav-span);

          @include portrait{
            transform: translateY(calc(-1 * $p-nav-span));
          }
        }
      }
    }
  }
}

.mouse-wrap{
  position: absolute;
  top: calc(100vh - $p-section-y-p);
  @include flex(column, $space-sm);
  
  .mouse{
    position: relative;
    border: 0.2em solid #fff;
    width: 3.2em;
    height: 4.5em;
    border-radius: 3em;
    margin: 0 auto;
    
    &::before{
      content: '';
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.4em;
      height: 1em;
      background-color: #fff;
      border-radius: 0.5em;
      animation: mouse-wheel-ani 1s linear infinite alternate;
    }
  }
  
  span{
    color: #fff;
    font-size: $font-caption;
    text-transform: capitalize;
  }

}

#logo-white {
  .half-circle, 
  .wave {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
  }
  .brush-head {
    fill: white;
    stroke: white;
  }
  .brush-body {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .search {
    fill: white;
  }
}

#logo-colored {
  .half-circle { stroke: url(#grad); fill: url(#grad); }
  .brush-head,
  .brush-body,
  .search { fill: url(#grad); stroke: url(#grad); }
  .wave1 { stroke: url(#wave-1); }
  .wave2 { stroke: url(#wave-2); }
  .wave3 { stroke: url(#wave-3); }
  .wave,
  .half-circle { fill: none; stroke-width: 10; stroke-linecap: round; }
  .brush-body { stroke-width: 1.5; stroke-linejoin: round; }
}








