@use './font' as *;
@use './variable' as *;
@use './mixin' as *;


body{
  font-size: clamp-calc(7, 10); //em 쓰면 모바일이 0.7배율
  line-height: 1.5;
  
}

h1{
  font-family: 'YUniverse-B';
  font-size: $font-h1;
}

h2{
  font-family: 'YUniverse-B';
  font-size: $font-h2;
}

h3{
  font-size: $font-h3;
}

h3.headline{
  // font-family: 'YUniverse-B';
  text-transform: capitalize;
  margin-bottom: $space-xs;

  @include portrait{
    margin-top: $space-xs;
  }
}

h4{
  font-family: 'YUniverse-B';
  font-size: $font-h4;
}

h5{
  font-size: $font-h5;
}

p{
  font-size: $font-body;
}

section{
  // border: 1px solid #000;
  // overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: $p-section-y-l 0;
  @include flex-center;
  
  @include portrait{
    padding: $p-section-y-p 0;
  }
}

.container{
  width: 100%;
  height: 100%;
  margin: 0 $p-section-x-l;
  max-width: $pc;
  // @include flex-center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  overflow: hidden;

  @include portrait{
    margin: 0 $p-section-x-p;
  }

  .content-wrap{
    @include fill-parent;
    @include flex-center;
  }
}

img{
  @include fill-parent;
  object-fit: cover;
}

svg{
  @include fill-parent;
}

a{
  font-size: $font-body;
}

button{
  font-size: inherit;
  cursor: pointer;
  @include flex-center;
}

.btn-c{
  border-radius: 100%;
  @include glass;
  @include flex-center;
  transition: all $trans-du ease;

  @include hover-effect {
    transform: scale(0.95);

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 
      inset 0 0 0.2em 0 #FFF,
      inset 0 0 0.5em 0 rgba(255, 255, 255, 0.5), 
      inset 0 0 1.5em 0 rgba(255, 255, 255, 0.5), 
      0 0.5rem 1em 0 rgba(255, 255, 255, 0.3), 
      0 0.3rem 1em 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-r{
  // border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $radius-sm;
  padding: $space-sm $space-md;
  @include flex-center;
  @include glass;
  background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  box-shadow:
    inset 0 0.1em 0.1em 0 rgba(255, 255, 255, 0.4),
    inset 0 0 1.5em 0 rgba(255, 255, 255, 0.2), 
    0 1em 2.5em 0 rgba(255, 255, 255, 0.2),
    0 0.3em 1em 0 rgba(0, 0, 0, 0.05);
  font-weight: 700;
  white-space: nowrap;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  transition: all $trans-du ease;

  @include hover-effect {
    transform: scale(0.95) translateY(0.2em);
    
    background: linear-gradient(to bottom, 
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.8) 100%
    );
    box-shadow:
      inset 0 0.1em 0.2em 0 rgba(255, 255, 255, 0.6),
      inset 0 0 1.5em 0 rgba(255, 255, 255, 0.4), 
      0 0.6rem 1.5em 0 rgba(255, 255, 255, 0.4), 
      0 0.2rem 0.8em 0 rgba(0, 0, 0, 0.1);

    // background: rgba(255, 255, 255, 0.3);
    // box-shadow: 
    //   inset 0 0 0.2em 0 rgb(255, 255, 255),
    //   inset 0 0 0.5em 0 rgba(255, 255, 255, 0.5), 
    //   inset 0 0 1.5em 0 rgba(255, 255, 255, 0.5), 
    //   0 0.5rem 1em 0 rgba(255, 255, 255, 0.3), 
    //   0 0.3rem 1em 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-r.point{
  @include point;
  color: #fff;
  text-shadow: 0 0.1em 0.2em rgba(var(--point-color-rgb), 0.5);

  &:visited{
    color: #fff;
  }

  @include hover-effect {

    background: linear-gradient(to bottom, 
      rgba(var(--point-color-rgb), 0.4) 0%,
      rgba(var(--point-color-rgb), 0.8) 100%
    );
    box-shadow:
      inset 0 0.1em 0.2em 0 rgba(255, 255, 255, 0.6),
      inset 0 0 1.5em 0 rgba(var(--point-color-rgb), 0.4),
      0 0.6rem 1.5em 0 rgba(var(--point-color-rgb), 0.4), 
      0 0.2rem 0.8em 0 rgba(0, 0, 0, 0.1);

  }
}

.tags{
  display: flex;
  gap: $space-sm;
  
  .tag{
    font-size: $font-caption;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: $space-xs $space-sm;
    border-radius: $radius-max;
    background: rgba(255, 255, 255, 0.1);
    
    i{
      margin-right: $space-xs;
    }
  }
}