@charset "utf-8"; 

.navigation{
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  /* display: none; */
  /* mix-blend-mode: difference; */

  .progress{
    width: 2px;
    height: 100%;
    background: hotpink;
    position: absolute;
    left:50%;
    margin-left: -1px;
    /* transform: translateX(-50%); */
    top: 0;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
    /* color: #fff; */

    li{
      position: relative;
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }

      .dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: hotpink;
        position: relative;
        z-index: 10;
      }

      span{
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        font-weight: bold;
      }
    }
  }
}