@charset "utf-8"; 

@use './variable' as *;
@use './mixin' as *;


.quick-btns{
  position: absolute;
  right: $p-section;
  bottom: $h-header;
  z-index: $z-float;
  @include center-flex;
  flex-direction: column;

  .btn{
    border-radius: 100%;
    @include glass;
    border: 1px solid rgba(255, 255, 255, 0.5);
    @include center-flex;
    transition: all $trans-du ease;

    @include hover-effect {
      transform: scale(0.95);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

  }

  i, iconify-icon{
    font-size: $font-icon;
  }

  button{
    width: $btn-m;
    height: $btn-m;
    cursor: pointer;
  }

  .logo-btn{
    position: relative;
    
    svg{
      position: absolute;
      width: 80%;
      top: 15%;
    }
  }

  .top-btn{
    margin-top: 1rem;
    color: #fff;
  }

  a{
    width: $btn-s;
    height: $btn-s;
    margin: 0.5rem 0;
  }

  .link-btns{

    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all $trans-du ease;

    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .resume-btn{
      color: #2c76b6;
    }
    
    .pdf-btn{
      color: #EF5350;
    }
  }


}

.navigation{
  position: absolute;
  left: $p-section;
  top: 50%;
  transform: translateY(-50%);
  z-index: $z-float;
  /* display: none; */
  /* mix-blend-mode: difference; */

  .progress{
    position: absolute;
    width: 0.1rem;
    height: 100%;
    background: #fff;
    left:50%;
    transform: translateX(-50%);
    top: 0;
  }

  ul{


    li{
      position: relative;
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }

      .dot{
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: #fff;
      }

      span{
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: $font-caption;
        // opacity: 0;
      }
    }
  }
}

#logo-white {
  .half-circle, 
  .wave {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
  }
  .brush-head {
    fill: white;
    stroke: white;
  }
  .brush-body {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .search {
    fill: white;
  }
}

#logo-colored {
  .half-circle { stroke: url(#grad); fill: url(#grad); }
  .brush-head,
  .brush-body,
  .search { fill: url(#grad); stroke: url(#grad); }
  .wave1 { stroke: url(#wave-1); }
  .wave2 { stroke: url(#wave-2); }
  .wave3 { stroke: url(#wave-3); }
  .wave,
  .half-circle { fill: none; stroke-width: 10; stroke-linecap: round; }
  .brush-body { stroke-width: 1.5; stroke-linejoin: round; }
}




@keyframes mouse-wheel-ani{
  /* 0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  } */
  0% {margin-top: 0;}
	50% {margin-top: 10px;}
	100% {margin-top: 0;}
}

.mouse-scroll{
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #333;
  position: relative;

}
.mouse{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  
}
.mouse .mouse-wheel{ /* 마우스모양 */
  border: 2px solid #fff;
  position: relative;
  width: 32px;
  height: 45px;
  border-radius: 30px;
  margin: auto;
}

.mouse .mouse-wheel::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, -90%); */
  width: 4px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  animation: mouse-wheel-ani 3s linear infinite alternate;
}

.mouse span{
  color: #fff;
  font-size: 12px;
}

