@charset "utf-8"; 

@use './variable' as *;
@use './mixin' as *;


.quick-btns{
  position: fixed;
  right: $p-section;
  bottom: $h-header;
  z-index: $z-float;
  @include center-flex;
  flex-direction: column;

  .btn{
    border-radius: 100%;
    @include glass;
    // border: 0.1em solid rgba(255, 255, 255, 0.5);
    @include center-flex;
    transition: all $trans-du ease;

    @include hover-effect {
      transform: scale(0.95);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

  }

  i, iconify-icon{
    font-size: $font-icon;
    // font-size: 1.8em;
  }

  button{
    width: $btn-m;
    height: $btn-m;
  }

  .logo-btn{
    position: relative;
    
    svg{
      position: absolute;
      width: 80%;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .top-btn{
    margin-top: 1em;
    color: var(--opacity);
  }

  a{
    width: $btn-s;
    height: $btn-s;
    margin: 0.8em 0;
  }

  .link-btns{

    opacity: 0;
    visibility: hidden;
    transform: translateY(1em);
    transition: all $trans-du ease;

    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .pdf-btn{ color: #EF5350; }
    .resume-btn{ color: #2c76b6; }
  }


}

.navigation{
  position: fixed;
  left: $p-section;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-float;

  .progress{
    @include center-absolute;
    width: 0.1rem;
    height: 95%;
    background: #fff;
  }

  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    li{
      position: relative;
      cursor: pointer;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      
      &:last-child{
        margin-bottom: 0;
      }

      .dot{
        position: relative;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        // background: #fff;
        @include glass;
        // filter: blur(0.3em);
        
      }

      span{
        position: absolute;
        white-space: nowrap;
        font-size: $font-caption;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

@media (orientation: portrait) {
  .navigation{
    left: auto;
    height: auto;
    width: 100vw;
    bottom: calc(100vh - $h-header);

    .progress{
      width: 95%;
      height: 0.1rem;
    }

    ul{
      width: 70vw;
      height: auto;
      flex-direction: row;

      li{
        margin-bottom: 0;
        justify-content: center;
      }
    }
  }
}
  

#logo-white {
  .half-circle, 
  .wave {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
  }
  .brush-head {
    fill: white;
    stroke: white;
  }
  .brush-body {
    fill: white;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .search {
    fill: white;
  }
}

#logo-colored {
  .half-circle { stroke: url(#grad); fill: url(#grad); }
  .brush-head,
  .brush-body,
  .search { fill: url(#grad); stroke: url(#grad); }
  .wave1 { stroke: url(#wave-1); }
  .wave2 { stroke: url(#wave-2); }
  .wave3 { stroke: url(#wave-3); }
  .wave,
  .half-circle { fill: none; stroke-width: 10; stroke-linecap: round; }
  .brush-body { stroke-width: 1.5; stroke-linejoin: round; }
}








