@charset "utf-8"; 

@use './variable' as *;


// @mixin pc{
//   @media (max-width: $pc){
//     @content;
//   }
// }
// @mixin tablet{
//   @media (max-width: $tablet){
//     @content;
//   }
// }

// @mixin mobile{
//   @media (max-width: $mobile){
//     @content;
//   }
// }

@mixin hover-effect {
  // 마우스가 있는 환경 (PC 등) -> 호버 시 적용
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  // 터치만 가능한 환경 (모바일/태블릿) -> 누를 때(Active) 적용
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}


@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin fill-parent{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@mixin glass{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem) saturate(120%);

}