@charset "utf-8"; 

@use './variable' as *;


// @mixin pc{
//   @media (max-width: $pc){
//     @content;
//   }
// }
// @mixin tablet{
//   @media (max-width: $tablet){
//     @content;
//   }
// }

// @mixin mobile{
//   @media (max-width: $mobile){
//     @content;
//   }
// }

@mixin hover-effect {
  // 마우스가 있는 환경 (PC 등) -> 호버 시 적용
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  // 터치만 가능한 환경 (모바일/태블릿) -> 누를 때(Active) 적용
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}


@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin fill-parent{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@mixin glass{
  // background: rgba(255, 255, 255, 0.01);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 
  inset 0 0 0.2em 0 #FFF,
  inset 0 0 1em 0 rgba(255, 255, 255, 0.50), 
  inset 0 0 2em 0 rgba(255, 255, 255, 0.50), 
  0 1rem 3em 0 rgba(0, 0, 0, 0.05),
  0 2rem 3em 0 rgba(255, 255, 255, 0.30), 
  0 -0.5em 1em 0 rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1rem) saturate(120%);
  overflow: hidden;
  position: relative;

  &::after{
    content: '';
    width: 50%;
    height: 25%;
    position: absolute;
    bottom: -12.5%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    border-radius: 25% / 50%;
    filter: blur(0.5rem);
    z-index: -1;
  }

}