@charset "utf-8"; 

@use './variable' as *;


// @mixin pc{
//   @media (max-width: $pc){
//     @content;
//   }
// }

// @mixin tablet{
//   @media (max-width: $tablet){
//     @content;
//   }
// }

// @mixin mobile{
//   @media (max-width: $mobile){
//     @content;
//   }
// }

@mixin hover-effect {
  // 마우스가 있는 환경 (PC 등) -> 호버 시 적용
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  // 터치만 가능한 환경 (모바일/태블릿) -> 누를 때(Active) 적용
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}


@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin fill-parent{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@mixin glass{
  border: 0.1em solid rgba(255, 255, 255, 0.3);
  border-top: 0.1em solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 
    inset 0 0 0.2em 0 rgb(255, 255, 255),
    inset 0 0 1em 0 rgba(255, 255, 255, 0.5), 
    inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 
    0 2rem 3em 0 rgba(255, 255, 255, 0.3), 
    0 1rem 3em 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.2rem) saturate(130%);
  overflow: hidden;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    // width: 50%;
    // height: 25%;
    // bottom: -12.5%;
    // filter: blur(0.5rem);
    // border-radius: 25% / 50%;
    width: 70%;
    height: 35%;
    bottom: -17.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 35% / 70%;
    filter: blur(0.7rem);
    background: #FFF;
    z-index: -1;
  }

}

@mixin point{
  border: 0.1em solid rgba(var(--point-color-rgb), 0.3);
  border-top: 0.1em solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(to bottom,
    rgba(var(--point-color-rgb), 0.2) 0%,
    rgba(var(--point-color-rgb), 0.6) 100%
  );
  box-shadow:
    inset 0 0.1em 0.1em 0 rgba(255, 255, 255, 0.4),
    inset 0 0 1.5em 0 rgba(var(--point-color-rgb), 0.2), 
    0 1em 2.5em 0 rgba(var(--point-color-rgb), 0.2),
    0 0.3em 1em 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.5rem) saturate(180%);

  &::after{
    background: rgba(var(--point-color-rgb), 0.7);
    filter: blur(1.2rem);
  }
}

@mixin difference{
  color: #fff;
  mix-blend-mode: difference;
}