@charset "utf-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  // overflow-y: scroll;
  // overflow-x: hidden; 
  overflow: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
  color: var(--text-color);
  
  body {
    width: 100%;
    height: 100%;
    font-family: 'SUITE', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    word-break: keep-all;

  article,aside,details,figcaption,figure,footer,hgroup,menu,nav{ 
      display: block; 
    }
    
    ol,ul,li {
      list-style: none;
    }
    // h1,h2,h3,h4,h5,h6{
    //   // font-size:100%;
    //   // font-weight: normal;  
    // }
    table{
      border-collapse: collapse;
      border-spacing: 0;
    }
    a{
      text-decoration: none; 
      color: inherit;  
    }  
    img{
      max-width: 100%;
      // vertical-align: top;
    }
    input, button, textarea{
      outline: none;
      border: none;
    }
  }
}

