@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */

  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'SUITE', sans-serif;
    font-weight: normal;
    font-style: normal;
    word-break: keep-all;
    font-variant-numeric: tabular-nums;
    color: var(--text-color);
    article, aside, details, figcaption, figure, footer, hgroup, menu, nav, svg{
      display: block;
    }

    ol, ul, li {
      list-style: none;
    }
    table{
      border-collapse: collapse;
      border-spacing: 0;
    }
    a{
      text-decoration: none;
      color: inherit;

      &:visited{
        color: inherit;
      }
    }
    img{
      max-width: 100%;
    }
    input, button, textarea{
      outline: none;
      border: none;
    }
  }
}
