@charset "utf-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  // overflow: hidden;
  overflow-x: hidden; 
  // overflow-y: scroll;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
  
  body {
    width: 100%;
    // height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // scroll-behavior: auto;
    font-family: 'SUITE', sans-serif;
    font-weight: normal;
    font-style: normal;
    word-break: keep-all;
    color: var(--text-color);
    // font-size: clamp-calc(8, 10); //em 쓰면 모바일이 0.8배율
    user-select: none;

    article, aside, details, figcaption, figure, footer, hgroup, menu, nav, svg{ 
      display: block; 
    }
    
    ol, ul, li {
      list-style: none;
    }
    // h1,h2,h3,h4,h5,h6{
    //   // font-size:100%;
    //   // font-weight: normal;  
    // }
    table{
      border-collapse: collapse;
      border-spacing: 0;
    }
    a{
      text-decoration: none; 
      color: inherit;  
    }  
    img{
      max-width: 100%;
      // vertical-align: top;
    }
    input, button, textarea{
      outline: none;
      border: none;
    }
  }
}

