// $primary-color: red;
// $secondary-color: black;
// $bg-color: #fafafa;
// $bg-dark-color: #393939;
// $white: #fff;

// $w100: 100%;
// $pc: 1440px;
// $tablet-l:1024px;
// $tablet: 768px;
// $mobile: 540px;

// $center: 0 auto;

:root{
  --bg-color: #fff;
  --bg-color-rgb: 255, 255, 255;
  // --text-color: rgba(51, 51, 51, 0.8);
  --text-color: #333;
  --text-color-rgb: 51, 51, 51;
}
[data-theme="dark"] {
  --bg-color: #0a0a0a;
  --bg-color-rgb: 10, 10, 10;
  // --text-color: rgba(255, 255, 255, 0.8);
  --text-color: #fff;
  --text-color-rgb: 255, 255, 255;
}





$pc: 1400px;
$tablet: 768px;
$mobile: 360px;

$h-header: 10vh;
$p-section: 5vw;


$z-s1: 1000;
$z-header: 999;

$trans-du: 0.3s;
$ani-du: 1s;

$size-2rem: clamp(1.2rem, 1.4vw, 2rem);
$size-3rem: clamp(1.4rem, 2.1vw, 3rem);
$size-5rem: clamp(2rem, 3.5vw, 5rem);
$size-20rem: clamp(5rem, 14vw, 20rem);