@charset "utf-8"; 


:root{
  --bg-color: #fff;
  --bg-color-rgb: 255, 255, 255;
  // --text-color: rgba(51, 51, 51, 0.8);
  --text-color: #333;
  --text-color-rgb: 51, 51, 51;

  --bg-grad: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);

  --opacity: rgba(255, 255, 255, 0.5);

}
// [data-theme="dark"] {
//   --bg-color: #0a0a0a;
//   --bg-color-rgb: 10, 10, 10;
//   // --text-color: rgba(255, 255, 255, 0.8);
//   --text-color: #fff;
//   --text-color-rgb: 255, 255, 255;
// }





$pc: 1400px;
$tablet: 768px;
$mobile: 360px;

$h-header: 10vh;
$p-section: 5vw;


$z-s1: 1000;
$z-float: 900;


$trans-du: 0.3s;
$ani-du: 1s;

$size-2rem: clamp(1.2rem, 1.4vw, 2rem);
$size-3rem: clamp(1.4rem, 2.1vw, 3rem);
$size-5rem: clamp(1.6rem, 3.5vw, 5rem);
$size-15rem: clamp(4rem , 10vw, 15rem);
$size-20rem: clamp(5rem, 14vw, 20rem);
$size-40rem: clamp(6rem , 22vw - 2rem, 40rem);