@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './component' as *; /* 재활용가능한 것들 */
// @use './header' as *;


/* 기본 1400이상 max-width: 1400px */
body{
  overflow: hidden;
  // scroll-behavior: auto;
  font-size: $font-body;
  color: var(--text-color);


  h1{
    font-family: 'YUniverse-B';
    font-size: $font-h1;

  }

  // button{
  //   color: var(--text-color);
  // }




  section{
    // overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding: $h-header 0;
    @include center-flex;
    
    .container{
      width: 100%;
      height: 100%;
      margin: 0 $p-section;
      max-width: $pc;
      @include center-flex;
      border: 1px solid red;

      img{
        @include fill-parent;
        object-fit: cover;
      }
    }
  }

  /*  ~ Common _______________________ */

  
  
  #layout{
    height: 100vh;
    // width: 100vw;
    // overflow-x: hidden;
    
    #load{
      position: fixed;
      // overflow: hidden;
      z-index: $z-s1;
  
      .background-gradient{
        position: absolute;
        @include fill-parent;
        background: var(--bg-grad);
        filter: blur(0rem);

        z-index: -1; 
  
        &::before{
          content: '';
          position: absolute;
          @include fill-parent;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
  
      .container{
  
        @include flex(column, 2rem);
        max-width: none;

        .possessive{
          // border: 1px solid #000;
          width: 100%;
          @include center-flex;
          position: relative;
          padding: 0 28vw;
          

          .logo {
            max-height: 50vh;

          }

          h1{
            // border: 1px solid #000;
            position: absolute;
            display: none;
            color: #fff;
            left: calc(50% + 15vw);
            color: var(--opacity);

            /* 별모양 */
            span{
              // border: 1px solid #000;
              vertical-align: top;
              font-size: clamp-calc(24, 128);
            }
          }
        }

  
        h3{
          font-family: 'SUITE', sans-serif;
          font-weight: 800;
          color: #fff;
          font-size: $font-h3;
        }
          
      }
    }


    #intro{

      position: relative;
      overflow: hidden;


      .container{

        h1{
          position: absolute;
          // width: 100%;
          top: 50vh;

          // line-height: 40rem;
          // border: 1px solid #000;

          text-transform: capitalize;
          letter-spacing: 0.08em;

          color: var(--opacity);
        }
      }
    }
    
    

    
      
      
    #publishing{
      
      .carousel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transform: rotateX(-20deg) translateY(-70px);
        transform-style: preserve-3d;
        perspective: 800px;
        user-select: none;
        cursor: grab;
      
        .carousel-image{
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -100px 0 0 -100px;
          width: 200px;
          height: 200px;
          transform: translate3d(0, 0, -10px);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          transform-origin: 50% 50%;
        }
      }
    }
    
    
    
    
  }
}















// tablet 1400px 반응형
@include pc{

}
// tablet 768px 반응형
@include tablet{

}

//mobile 360px 반응형
// @include mobile{
  
// }