@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './common' as *;
@use './component' as *;
@use './animation' as *;

#layout{
  overflow-x: hidden;

  .bg{
    position: fixed;
    inset: 0;
    background: var(--bg-grad2);

    &::before{
      content: '';
      position: fixed;
      inset: 0;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  #intro{
    position: relative;

    .bg-grad{
      position: absolute;
      inset: 0;
      background: var(--bg-grad);
      filter: blur(0rem);

    }

    .content-wrap{
      @include fill-parent;
      @include flex-center;
      @include flex(column, $space-xl);

      @include portrait{
        gap: $space-sm;
      }

      @include landscape-mobile{
        gap: $space-sm;
      }

      .hero{
        color: #888;
        mix-blend-mode: color-burn;
        line-height: 0.9em;
      }

      h1{
        letter-spacing: 0.13em;
        white-space: nowrap;
      }

      .loader-wrap{
        @include flex-center;
        @include flex(column, $space-lg);
        z-index: $z-s1;

        .loader-text{
          font-family: 'SUITE', sans-serif;
          font-weight: 800;
          color: #fff;
          
        }


        .possessive-wrap{
          width: 60vw;
          height: 50vmin;
          @include flex-center;

          @include landscape-mobile{
            height: 35vmin;
          }

          .logo{
            height: 100%;
            aspect-ratio: 270/225; 

            perspective: 100rem;
            cursor: pointer;

            &:hover .logo-flip,
            &.flipped .logo-flip{
              transform: rotateY(180deg);
            }

            .logo-flip{
              position: relative;
              @include fill-parent;
              transform-style: preserve-3d;
              transition: 0.5s;

              &>div{
                position: absolute;
                inset: 0;
                @include flex-center;
                backface-visibility: hidden;
              }
            
              
              .logo-back{
                transform: rotateY(180deg);
                justify-content: flex-end;
                
                h2{
                  color: #fff;
                  opacity: 0.7;
                }
              }
            }
          }


          .possessive{

            @include flex-center;
            height: 100%;

            .star{
  
              height: 110%;
              font-family: 'YUniverse-B';
              color: #fff;
              opacity: 0.7;
              font-size: $font-h3;
              transform-origin: center center;
              animation: rotate-y-180 5s infinite ease-in-out;
            }
            
            h2{
              color: #fff;
              opacity: 0.7;
            }
          }
        }
      }
    }

  }

  #profile{
    min-height: 100vh;
    height: fit-content;

    // @include portrait{
    //   height: fit-content;
    // }

    // @include landscape-mobile{
    //   height: fit-content;
    //   min-height: 100vh;
    // }

    .container{
      overflow: visible;

      .content-wrap{

        .content{
          @include flex-center;
          width: 100%;
          align-items: stretch;
          gap: $space-xl;

          @include portrait{
            flex-direction: column-reverse;
          }

          .box{
            flex: 2;
            @include glass;
            border-radius: $radius-md;
            padding: $p-xl;
            @include flex(column, $space-lg);

            @include portrait{
              width: 100%;
              gap: $space-xl;
              padding: $p-lg;
            }
            
            @include landscape-mobile{
              padding: $p-lm;
            }

            &::after{
              filter: blur(4rem);
            }
            
            .desc{
              font-size: clamp-calc(7, 10);
              display: flex;
              flex-direction: column;
              gap: $space-md;

              @include portrait{
                gap: $space-lg;
              }

              .row{
                display: flex;
                align-items: flex-start;
                gap: $space-lg;

                @include portrait{
                  @include flex(column, $space-sm);
                }

                h4{
                  flex: 1;
                  text-transform: uppercase;
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  white-space: nowrap;
                  min-width: 6em;
                }

                .details{
                  flex: 2;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  
                  p{
                    span{
                      margin-right: $space-sm;
                    }

                    // @include landscape-mobile{
                    //   display: flex;
                    //   flex-direction: column;
                    // }
                  }
                  
                  .sub{
                    color: var(--sub-text-color);
                  }
                }

                &.r1 .details{
                  p:first-of-type{
                    font-size: $font-h5;
                  }
                }

                &.r2 .details{
                  p{
                    margin-bottom: 0.2em;
                  }
                }

                &.r5 .details{
                  flex-direction: row;
                  // flex-wrap: wrap;
                  @include portrait{
                    align-self: stretch;
                  }

                  .circleContainer{
                    flex: 1;
                    @include flex-center;
                    flex-direction: column;

                    .circleBox{
                      position: relative;
                      width: 100%;
                      aspect-ratio: 1/1;
                      @include flex-center;

                      svg{
                        position: absolute; 
                        transform: rotate(-90deg);

                        circle {
                          fill: none;
                          stroke-width: 8;
                          stroke-linecap: round;

                          &.bg {
                            stroke: #eee;
                          }

                          &.fg {
                            stroke: var(--point-color);
                            stroke-dasharray: 251.2; /* 2π * r(40) ≈ 251.2 */
                            stroke-dashoffset: 251.2;
                          }
                        }
                      }

                      iconify-icon{
                        font-size: $font-h4;
                      }

                    }

                  }
                }

              }
            }

            a{
              font-size: clamp-calc(7, 10);
              align-self: flex-end;
              gap: $space-sm;

              iconify-icon{
                font-size: $font-h5;
                color: #0000ee;
              }
              p{
                color: var(--text-color);
              }
            }
          }

          .portrait{
            flex: 1;
            position: relative;
            @include flex-center;
          }
        }
      }
    }
  }
    
    
  #publishing{
    .section-bg{
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: top;
      transition: all $trans-du ease;

      &::before{
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(0.5rem);
      }
    }

    .container{
      overflow: visible;
      position: relative;

      .headline{
        z-index: $z-base;
        @include difference;
      }

      .content-wrap{
        @include flex(column, $space-lg);
        perspective: 100rem;
        transition: all $trans-du ease;

        @include landscape-mobile{
          @include absolute-center;
        }

        .cards{
          @include fill-parent;
          @include flex-center;
          position: relative;

          .card{
            @include glass($glow: false);

            position: absolute;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            height: 100%;
            aspect-ratio: 2/3;
            max-width: 40em;
            max-height: 60em;
            margin: 0 auto;
            border-radius: $radius-md;
            padding: $space-lg;
            transition: all $trans-du ease;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(1.5rem) saturate(180%);

            .card-num{
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              line-height: 1.2;

              p{
                color: var(--point-color);
                font-size: clamp-calc(10, 16);
                font-weight: 900;
                text-transform: uppercase;
              }
              h3{
                font-family: 'YUniverse-B';
              }
            }

            .card-desc{

              h5{
                margin: $space-xs 0;
              }

              .tags{
                margin-bottom: $space-md;
              }

            }

            .links{
              display: flex;
              flex-direction: column;
              gap: $space-sm;
              width: 100%;
              margin-top: $space-md;
              text-transform: capitalize;

              .fa-brands{
                margin-right: $space-xs;
              }

              .device{
                display: flex;
                width: 100%;
                gap: $space-sm;

                a{
                  flex: 1;
                  flex-direction: column;
                  gap: $space-xs;
                }
              }
            }
          }
        }

        .indicators{
          display: flex;
          gap: $space-md;

          .indicator{
            @include glass;
            width: 3em;
            height: 1em;
            border-radius: $radius-max;
            transition: all $trans-du ease;

            &.active{
              @include point;
              width: 5em;
            }
          }
        }
      }
    }
  }
  
  #uxui{

    .gallery{
      @include fill-parent;
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: $space-lg;

      @include portrait{
        flex-direction: column;
      }

      .gallery-item{
        position: relative;
        flex: 1 1 0;
        border-radius: $radius-md;
        padding: $space-lg;
        overflow: hidden;
        filter: grayscale(1);
        transition: all $trans-du ease;

        img{
          position: absolute;
          inset: 0;
          object-fit: cover;
          object-position: center;
        }

        .gallery-desc{
          @include glass($glow: false);
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          padding: $space-md $space-lg;
          height: auto;
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(1.5rem) saturate(180%);
          border-radius: inherit;
          @include flex(column, $space-sm);
          transform: translateY(100%);
          opacity: 0;
          transition: all $trans-du ease;

          @include portrait{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

          .tags{
            flex-wrap: wrap;
            margin-bottom: $space-sm;
          }

          .btn-view{
            width: fit-content;
            height: fit-content;
            text-transform: capitalize;
            
            i{
              margin-right: $space-xs;
            }
          }
        }

        &.active{
          flex: 50;
          filter: grayscale(0);

          .gallery-desc{
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  #graphic{

    .container{
      overflow: visible;
      justify-content: flex-start;

      .headline{
        @include difference;
      }

      .content-wrap{

        @include portrait{
          display: block;
        }
      }

      &.is-aligned{
        .grid{
          .thumb{
            .thumb-inner{
              .clip{
                .border{
                  opacity: 1;
                  animation: spin 4s linear infinite;
                }
              }
            }
          }
        }
      } 
      
      .grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: $p-xl;

        @include portrait{
          grid-template-columns: repeat(2, 1fr);
          gap: $p-lg;
          padding-bottom: $p-section-y-p;
        }

        .thumb{
          aspect-ratio: 1/1;
          cursor: pointer;

          &:hover .thumb-inner, 
          &:focus .thumb-inner{
            transform: rotate3d(1, 1, 0, 180deg);
          }
          
          .thumb-inner{

            @include fill-parent;
            @include flex-center;
            position: relative;
            border-radius: calc($radius-md) + $border-th;
            transform-style: preserve-3d;
            transition: all $trans-du ease;

            .clip{
              @include flex-center;
              position: absolute;
              inset: 0;
              border-radius: calc($radius-md) + $border-th;
              overflow: hidden;
              padding: $border-th;
              mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
              mask-composite: exclude;

              .border{
                position: absolute;
                width: 140%;
                height: 140%;
                background: conic-gradient(
                  from 45deg,
                  transparent 75%,
                  var(--point-color),
                  transparent 100%
                );
                animation: spin 4s linear infinite;
                opacity: 0;
                transition: all $trans-du ease;
              }
            }

            &>div:not(.clip) {
              position: absolute;
              inset: $border-th;
              @include flex-center;
              border-radius: calc($radius-md);
              transform-style: preserve-3d;
              backface-visibility: hidden;
            }

            .front{
              
              img{
                border-radius: calc($radius-md);
                object-fit: cover;
                object-position: center;
              }
            }
            
            .back{

              @include glass;
              position: absolute;
              inset: 0;
              border-radius: calc($radius-md);

              padding: $space-lg;
              transform: rotate3d(1, 1, 0, 180deg);

              &::after{
                filter: blur(10rem);
              }

              h5{
                text-align: center;
              }
            }

          }


        }



      }
    }

  }

  #planning{
    // background: var(--text-color);
    color: var(--white);
    height: auto;

    .headline{
      @include portrait{
        // margin-bottom: unset;
        margin-bottom: $p-xl;
      }
    }

    .content-wrap{
      justify-content: flex-start;
      flex-direction: column;
      
      .process{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: $p-xl;
        margin-bottom: $space-xxl;
        position: relative;

        @include portrait{
          grid-template-columns: 1fr;
          gap: 0;
          margin-bottom: $p-section-y-p;

          .projects{
            flex: 1;
          }
        }

        @include landscape-mobile{
          margin-bottom: $p-section-y-l;
        }

        hgroup{
          // border: 1px solid red;
          z-index: $z-overlay;
          // background: var(--text-color);

          @include portrait{
            // padding: $p-xl 0;
            padding-bottom: $p-xl;
            border-bottom: 0.2em solid rgba(var(--white-rgb), 1);
          }

          span{
            font-family: 'YUniverse-B';
            font-size: $font-body;
            color: var(--point-color);
            font-style: italic;
            display: block;
            margin-bottom: $space-xs;
          }

          h4{

            .kor{
              font-family: 'SUITE', sans-serif;
              color: rgba(var(--white-rgb), 0.7);
            }
          }
        }

        .projects{
          border-top: 0.2em solid rgba(var(--white-rgb), 1);
          z-index: $z-base;

          @include portrait{
            border: none;
          }

          .project{
            border-bottom: 0.1em solid rgba(var(--white-rgb), 0.7);
            position: relative;
            
            &::before{
              content: '';
              inset: 0;
              @include glass;
              position: absolute;
              border: none;
              box-shadow: 
                inset 0 0 0.2em 0 rgba(var(--white-rgb), 1),
                inset 0 0.5em 1em 0 rgba(var(--white-rgb), 0.5),
                inset 0 -0.5em 1em 0 rgba(var(--white-rgb), 0.5),
                inset 0 1em 2em 0 rgba(var(--white-rgb), 0.5), 
                inset 0 -1em 2em 0 rgba(var(--white-rgb), 0.5), 
                0 2rem 3em 0 rgba(255, 255, 255, 0.3), 
                0 1rem 3em 0 rgba(0, 0, 0, 0.05);
              
              mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
              z-index: 0;
              opacity: 0;
              transition: all $trans-du ease;
            }

            &>*{
              position: relative;
              z-index: $z-base;
            }

            .row-btn{
              width: 100%;
              // padding: $space-lg $space-md $space-lg 0;
              padding: $space-lg $space-md;
              background: none;
              color: #fff;
              display: flex;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;

              &::before{
                content: '';
                position: absolute;
                left: 0;
                // display: inline-block;
                width: $space-sm;
                height: $space-sm;
                border-radius: 100%;
                background-color: var(--point-color);
                // margin-right: $space-xs;
                opacity: 0;
                transition: all $trans-du ease;
              }

              span{
                font-size: $font-h5;
                text-align: left;
              }
              
              i{
                font-size: $font-h5;
                transition: all $trans-du ease;
              }
            }

            .spread{
              width: 100%;
              height: 0;
              overflow: hidden;

              .spread-inner{
                position: relative;
                aspect-ratio: 16/9;
                margin: $space-lg $space-xl $space-xl;
                box-shadow: 
                  0 2rem 3em 0 rgba(255, 255, 255, 0.3), 
                  0 1rem 3em 0 rgba(0, 0, 0, 0.05);

                &>*{
                  position: absolute;
                }

                iframe{
                  inset: 0;
                  border: none;
                  z-index: 0;
                }

                .fullscreen-btn{
                  position: absolute;
                  right: $space-md;
                  top: $space-md;
                  width: $space-lg;
                  height: $space-lg;

                  &>*{
                    position: absolute;
                    inset: 0;
                    background: var(--white);
                    border-radius: $radius-xs;
                    box-shadow: 
                      0 1px 3px 0 rgba(0, 0, 0, 0.149), 
                      0 0 .5px 0 rgba(0, 0, 0, 0.302);
                    @include flex-center;
                    z-index: $z-base;

                    i{
                      font-size: $font-body;
                    }
                  }

                  .close{
                    display: none;
                  }

                  &.is-fullscreen .expand { 
                    display: none; 
                  }
                  &.is-fullscreen .close { 
                    display: flex; 
                  }
                }

                .scroll-guard{
                  inset: 0;
                  background: rgba(var(--text-color-rgb), 0.7);
                  @include flex-center;
                  z-index: $z-above;
                  transition: all $trans-du ease;

                  .guard-btn{
                    font-size: $font-body;
                  }

                  .mouse-wrap{
                    top: unset;
                    opacity: 0;
                    pointer-events: none;
                  }

                }
              }
            }

            &:hover::before,
            &.is-active::before{
              opacity: 1;
            }

            &:hover .row-btn::before,
            &.is-active .row-btn::before{
              opacity: 1;
            }

            &.is-active .row-btn i{
              transform: rotateX(180deg);
            }

          }
        }
      }
    }
  }

  .copyright{
    position: relative;
    text-align: center;
    padding: $space-lg 0;
    font-size: $font-caption;
    color: var(--white);
    // background: var(--text-color);
    border-top: 0.1em solid rgba(var(--white-rgb), 0.7);
  }

}