@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './component' as *; /* 재활용가능한 것들 */
@use './animation' as *;
// @use './header' as *;


/* 기본 1400이상 max-width: 1400px */
body{
  overflow: hidden;
  // scroll-behavior: auto;
  color: var(--text-color);
  font-size: clamp-calc(8, 10); //em 쓰면 모바일이 0.8배율


  h1{
    font-family: 'YUniverse-B';
    font-size: $font-h1;
  }

  button{
    font-size: inherit;
    cursor: pointer;
  }




  section{
    // overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding: $h-header 0;
    position: relative;
    @include center-flex;
    
    .container{
      width: 100%;
      height: 100%;
      margin: 0 $p-section;
      max-width: $pc;
      @include center-flex;
      border: 1px solid red;

      img{
        @include fill-parent;
        object-fit: cover;
      }
    }
  }

  /*  ~ Common _______________________ */

  #load{
    position: fixed;
    // overflow: hidden;
    z-index: $z-s1;

    .background-gradient{
      position: absolute;
      @include fill-parent;
      background: var(--bg-grad);
      filter: blur(0rem);

      &::before{
        content: '';
        position: absolute;
        @include fill-parent;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .container{

      @include flex(column, $space-md);
      max-width: none;

      .possessive{
        // border: 1px solid #000;
        width: 100%;
        @include center-flex;
        position: relative;
        padding: 0 28vw;
        
        .logo {
          max-height: 50vh;
        }

        h1{
          // border: 1px solid #000;
          position: absolute;
          display: none;
          left: calc(50% + 15vw);
          color: var(--opacity);

          /* 별모양 */
          span{
            display: inline-block;
            // border: 1px solid #000;
            vertical-align: top;
            font-size: clamp-calc(24, 128);
            animation: rotate-y-180 5s infinite ease-in-out;
            transform-origin: center center;
          }
        }
      }

      h3{
        font-family: 'SUITE', sans-serif;
        font-weight: 800;
        color: #fff;
        font-size: $font-h3;
        z-index: 0;
      }
    }
  }
  
  #layout{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    


    #intro{
      position: relative;
      overflow: hidden;

      h1{
        position: absolute;
        top: 50vh;
        line-height: $font-h1;
        text-transform: capitalize;
        letter-spacing: 0.08em;
        color: var(--opacity);
      }

      .mouse-wrap{
        position: absolute;
        top: calc(100vh - $h-header);
        @include flex(column, $space-sm);
        
        .mouse{
          position: relative;
          border: 0.2em solid #fff;
          width: 3.2em;
          height: 4.5em;
          border-radius: 3em;
          margin: 0 auto;
          
          &::before{
            content: '';
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.4em;
            height: 1em;
            background-color: #fff;
            border-radius: 0.5em;
            animation: mouse-wheel-ani 1s linear infinite alternate;
          }
        }
        
        span{
          color: #fff;
          font-size: $font-caption;
          text-transform: capitalize;
        }

      }      
    }
    
    

    
      
      
    #publishing{
      
      .carousel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transform: rotateX(-20deg) translateY(-70px);
        transform-style: preserve-3d;
        perspective: 800px;
        user-select: none;
        cursor: grab;
      
        .carousel-image{
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -100px 0 0 -100px;
          width: 200px;
          height: 200px;
          transform: translate3d(0, 0, -10px);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          transform-origin: 50% 50%;
        }
      }
    }
    
    
    
    
  }
}















// tablet 1400px 반응형
// @include pc{

// }
// tablet 768px 반응형
// @include tablet{

// }

// mobile 360px 반응형
// @include mobile{
  
// }