@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './component' as *; /* 재활용가능한 것들 */
@use './animation' as *;
// @use './header' as *;

body{
  font-size: clamp-calc(8, 10); //em 쓰면 모바일이 0.8배율
}

h1{
  font-family: 'YUniverse-B';
  font-size: $font-h1;
}

h2{
  font-family: 'YUniverse-B';
  font-size: $font-h2;
}

h3{
  font-size: $font-h3;
}

h4{
  font-size: $font-h4;
}

h5{
  font-size: $font-h5;
}

p{
  font-size: $font-body;
}

section{
  // overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: $h-header 0;
  @include center-flex;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0 $p-section;
  max-width: $pc;
  @include center-flex;
  // border-radius: 2rem;
  // @include glass;
  // &::after{
  //   filter: blur(15rem);
  // }
}

img{
  @include fill-parent;
  object-fit: cover;
}

button{
  font-size: inherit;
  cursor: pointer;
}


/*  ~ Common _____________________ */




#layout{
  overflow-x: hidden;

  .bg{
    position: fixed;
    @include fill-parent;
    // margin-top: 100vh;
    background: var(--bg-grad2);

    &::before{
      content: '';
      position: fixed;
      @include fill-parent;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  #intro{
    position: relative;
    // background: #F0EEE9;
    // overflow: hidden;

    .container{
      position: absolute;
      height: 80vh;
    }

    .bg-grad{
      // z-index: $z-s1;
      position: absolute;
      @include fill-parent;
      background: var(--bg-grad);
      filter: blur(0rem);

    }

    .content-wrap{
      @include fill-parent;
      @include center-flex;
      @include flex(column, $space-lg);


      h1{
        line-height: 0.9em;
        letter-spacing: 0.13em;
        
        // color: rgba(255, 255, 255, 0.7);
        // mix-blend-mode: plus-lighter;
        
        color: #888;
        mix-blend-mode: color-burn;
        
      }

      h2{
        color: #888;
        mix-blend-mode: color-burn;
        line-height: 0.9em;
      }

      .loader-wrap{
        @include center-flex;
        @include flex(column, $space-md);
        z-index: $z-s1;

        .loader-text{
          font-family: 'SUITE', sans-serif;
          font-weight: 800;
          color: #fff;
          
        }


        .possessive-wrap{
          // border: 1px solid #000;
          width: 60vw;
          height: 50vmin;
          @include center-flex;
          
          .logo{
            // border: 1px solid red;
            height: 100%;
            aspect-ratio: 270/225; 

            perspective: 100rem;
            cursor: pointer;

            &:hover .logo-flip,
            &.flipped .logo-flip{
              transform: rotateY(180deg);
            }

            .logo-flip{
              position: relative;
              @include fill-parent;
              transform-style: preserve-3d;
              transition: 0.5s;

            
              &>div{
                position: absolute;
                @include fill-parent;
                @include center-flex;
                backface-visibility: hidden;
              }
            
              .logo-front{
                
                svg {
                  @include fill-parent;
                }
              }
              
              .logo-back{
                transform: rotateY(180deg);
                
                h2{
                  color: var(--opacity);
                }
              }
            }
          }


          .possessive{
            // border: 1px solid #000;
            @include center-flex;
            height: 100%;
            

            /* 별모양 */
            span{
              // border: 1px solid #000;
              height: 110%;
              font-family: 'YUniverse-B';
              color: var(--opacity);
              font-size: $font-star;
              transform-origin: center center;
              animation: rotate-y-180 5s infinite ease-in-out;
            }
            
            h2{
              color: var(--opacity);
            }
          }
        }
      }
    }

    .mouse-wrap{
      position: absolute;
      top: calc(100vh - $h-header);
      @include flex(column, $space-sm);
      
      .mouse{
        position: relative;
        border: 0.2em solid #fff;
        width: 3.2em;
        height: 4.5em;
        border-radius: 3em;
        margin: 0 auto;
        
        &::before{
          content: '';
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0.4em;
          height: 1em;
          background-color: #fff;
          border-radius: 0.5em;
          animation: mouse-wheel-ani 1s linear infinite alternate;
        }
      }
      
      span{
        color: #fff;
        font-size: $font-caption;
        text-transform: capitalize;
      }

    }      
  }
  
  

  #profile{
    .container{
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      h3{
        margin-bottom: $space-sm;
      }

      .content-wrap{
        @include fill-parent;
        @include center-flex;
        gap: $space-lg;

        .box{
          flex: 1;
          @include glass;
          border-radius: 2em;
          padding: 5em;
          display: flex;
          flex-direction: column;
          gap: $space-md;

          &::after{
            filter: blur(12rem);
          }

          .row{
            border: 1px solid #000;
            display: flex;
            align-items: baseline;
            gap: $space-md;

            h4{
              flex: 1;
              text-transform: capitalize;
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
            }
            div{
              flex: 2;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: $space-xs;
            }

          }
        }
        img{
          flex: 1;
          border: 1px solid #000;

        }
      }
    }
  }
    
    
  #publishing{
    // background: var(--bg-s3);
  }
  
  #uxui{
    // background: var(--bg-s4);
  }

  #graphic{
    // background: var(--bg-s5);
  }

  #planning{
    // background: var(--bg-s6);
  }
  
  
}
















// tablet 1400px 반응형
// @include pc{

// }
// tablet 768px 반응형
// @include tablet{

// }

// mobile 360px 반응형
// @include mobile{
  
// }