@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './component' as *; /* 재활용가능한 것들 */
// @use './header' as *;


/* 기본 1400이상 max-width: 1400px */
body{
  // overflow: hidden;
  scroll-behavior: auto;
  font-size: clamp(1.2rem, 1.4vw, 2rem);

  h1{
    font-family: 'YUniverse-B';
    font-size: $size-20rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(var(--text-color-rgb), 0.8);
  }

  h2{
    font-family: 'YUniverse-B';

  }

  // 헤더 따로 떼기
  // header{
  //   position: fixed;
  //   inset: 0;
  //   height: $h-header;
  //   background-color: royalblue;
  //   z-index: $z-header;
  // }
  section{
    height: 100vh;
    position: relative;
    padding: $h-header 0;
    @include center-flex;
    
    .container{
      width: 100%;
      height: 100%;
      margin: 0 $p-section;
      background-color: gray;
      max-width: $pc;
      @include center-flex;
    }
  }

  #load{
    padding: 0;

    .background-gradient{
      position: absolute;
      @include fill-parent;
      background: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);
      z-index: -1; 
    }

    .container{
      background: none;
      position: relative;
      
      .logo {
        position: absolute;
        max-height: 50%;
        // max-width: 90%;
      }
      
      #logo-colored {
        opacity: 0;
        visibility: hidden;
        
        .half-circle { stroke: url(#grad); fill: url(#grad); }
        .brush-head,
        .brush-body,
        .search { fill: url(#grad); stroke: url(#grad); }
        .wave1 { stroke: url(#wave-1); }
        .wave2 { stroke: url(#wave-2); }
        .wave3 { stroke: url(#wave-3); }
        .wave,
        .half-circle { fill: none; stroke-width: 10; stroke-linecap: round; }
        .brush-body { stroke-width: 1.5; stroke-linejoin: round; }
      }
      
      #logo-white {
        
        .half-circle, 
        .wave {
          fill: none;
          stroke: white;
          stroke-width: 10;
          stroke-linecap: round;
        }
        .brush-head {
          fill: white;
          stroke: white;
        }
        .brush-body {
          fill: white;
          stroke: white;
          stroke-width: 1.5;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        .search {
          fill: white;
        }
      }
    }
  }


  #layout{
    height: 100vh;
    
    #intro{

      .container{

        @include flex(column,1rem);
        background: none;
      }
    }
    
    

    
      
      
    #publishing{
      
      .carousel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transform: rotateX(-20deg) translateY(-70px);
        transform-style: preserve-3d;
        perspective: 800px;
        user-select: none;
        cursor: grab;
      
        .carousel-image{
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -100px 0 0 -100px;
          width: 200px;
          height: 200px;
          transform: translate3d(0, 0, -10px);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          transform-origin: 50% 50%;
        }
      }
    }
    
    
    
    
  }
}















// tablet 1400px 반응형
@include pc{

}
// tablet 768px 반응형
@include tablet{

}

//mobile 360px 반응형
// @include mobile{
  
// }