@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './component' as *; /* 재활용가능한 것들 */
// @use './header' as *;


/* 기본 1400이상 max-width: 1400px */
body{
  overflow: hidden;
  scroll-behavior: auto;
  font-size: clamp(1.2rem, 1.4vw, 2rem);

  h1{
    font-family: 'YUniverse-B';
    font-size: $size-40rem;
    // text-transform: uppercase;
    text-transform: capitalize;
    // color: rgba(var(--text-color-rgb), 0.8);
    color: var(--opacity);
  }

  h2{
    font-family: 'YUniverse-B';

  }




  section{
    height: 100vh;
    // position: relative;
    padding: $h-header 0;
    @include center-flex;
    
    .container{
      width: 100%;
      height: 100%;
      margin: 0 $p-section;
      max-width: $pc;
      @include center-flex;
      // position: relative;
      border: 1px solid red;

      img{
        @include fill-parent;
        object-fit: cover;
      }
    }
  }

  /*  ~ Common _______________________ */

  
  
  #layout{
    height: 100vh;
    
    #load{
      position: fixed;
      @include fill-parent;
      z-index: $z-s1;
  
      .background-gradient{
        position: absolute;
        @include fill-parent;
        background: var(--bg-grad);
        filter: blur(0rem);

        z-index: -1; 
  
        &::before{
          content: '';
          position: absolute;
          @include fill-parent;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
  
      .container{
        // border-radius: 2rem;
        // @include glass;
  
        @include flex(column, 2rem);

        .possessive{
          width: 100%;
          @include center-flex;
          position: relative;
          // border: 1px solid red;
          padding: 0 25vw;
          

          .logo {
            // position: absolute;
            max-height: 50vh;
            // border: 1px solid #000;
            // @include glass;

          }

          h2{
            position: absolute;
            display: none;
            color: #fff;
            // font-size: 40rem;
            font-size: $size-40rem;
            left: calc(50% + 15vw);
            // border: 1px solid #000;
            color: var(--opacity);

            /* 별모양 */
            span{
              vertical-align: top;
              // font-size: 15rem;
              font-size: $size-15rem;
            }
          }
        }

        


        // .possessive{
          
        //   width: 100%;
        //   // height: auto;
        //   // height: min-content;
        //   // height: fit-content;
        //   @include center-flex;
        //   // @include flex(row, -10rem);
        //   border: 1px solid #000;
  
          
          
          
          
            
          
            
        // }
  
        h3{
          font-family: 'SUITE', sans-serif;
          font-weight: 800;
          color: #fff;
          // margin-left: -10rem;
          // padding-left: -10rem;
        }
          
      }
    }


    
    #intro{

      .container{

        @include flex(column,1rem);

        justify-content: end;
        border: 1px solid #000;
      }
    }
    
    

    
      
      
    #publishing{
      
      .carousel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transform: rotateX(-20deg) translateY(-70px);
        transform-style: preserve-3d;
        perspective: 800px;
        user-select: none;
        cursor: grab;
      
        .carousel-image{
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -100px 0 0 -100px;
          width: 200px;
          height: 200px;
          transform: translate3d(0, 0, -10px);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          transform-origin: 50% 50%;
        }
      }
    }
    
    
    
    
  }
}















// tablet 1400px 반응형
@include pc{

}
// tablet 768px 반응형
@include tablet{

}

//mobile 360px 반응형
// @include mobile{
  
// }