@use './font' as *;
@use './reset' as *;
@use './variable' as *;
@use './mixin' as *;
@use './common' as *;
@use './component' as *; /* 재활용가능한 것들 */
@use './animation' as *;
// @use './header' as *;


#layout{
  overflow-x: hidden;

  .bg{
    position: fixed;
    @include fill-parent;
    // margin-top: 100vh;
    background: var(--bg-grad2);

    &::before{
      content: '';
      position: fixed;
      @include fill-parent;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  #intro{
    position: relative;
    // background: #F0EEE9;
    // overflow: hidden;

    .container{
      position: absolute;
      height: 80vh;
    }

    .bg-grad{
      // z-index: $z-s1;
      position: absolute;
      @include fill-parent;
      background: var(--bg-grad);
      filter: blur(0rem);

    }

    .content-wrap{
      @include fill-parent;
      @include flex-center;
      @include flex(column, $space-xl);

      @include portrait{
        gap: $space-sm;
      }

      h2.title{
        color: #888;
        mix-blend-mode: color-burn;
        line-height: 0.9em;
      }

      h1{
        letter-spacing: 0.13em;
        white-space: nowrap;
      }

      .loader-wrap{
        @include flex-center;
        @include flex(column, $space-lg);
        z-index: $z-s1;

        .loader-text{
          font-family: 'SUITE', sans-serif;
          font-weight: 800;
          color: #fff;
          
        }


        .possessive-wrap{
          // border: 1px solid #000;
          width: 60vw;
          height: 50vmin;
          @include flex-center;

          .logo{
            // border: 1px solid red;
            height: 100%;
            aspect-ratio: 270/225; 

            perspective: 100rem;
            cursor: pointer;

            &:hover .logo-flip,
            &.flipped .logo-flip{
              transform: rotateY(180deg);
            }

            .logo-flip{
              position: relative;
              @include fill-parent;
              transform-style: preserve-3d;
              transition: 0.5s;

            
              &>div{
                position: absolute;
                @include fill-parent;
                @include flex-center;
                backface-visibility: hidden;

              }
            
              
              .logo-back{
                transform: rotateY(180deg);
                
                h2{
                  color: #fff;
                  opacity: 0.7;
                }
              }
            }
          }


          .possessive{
            // border: 1px solid #000;
            @include flex-center;
            height: 100%;

            .star{
              // border: 1px solid #000;
              height: 110%;
              font-family: 'YUniverse-B';
              // color: var(--opacity);
              color: #fff;
              opacity: 0.7;
              font-size: $font-h3;
              transform-origin: center center;
              animation: rotate-y-180 5s infinite ease-in-out;
            }
            
            h2{
              // color: var(--opacity);
              color: #fff;
              opacity: 0.7;
            }
          }
        }
      }
    }

    .mouse-wrap{
      position: absolute;
      top: calc(100vh - $p-section-y-p);
      @include flex(column, $space-sm);
      
      .mouse{
        position: relative;
        border: 0.2em solid #fff;
        width: 3.2em;
        height: 4.5em;
        border-radius: 3em;
        margin: 0 auto;
        
        &::before{
          content: '';
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0.4em;
          height: 1em;
          background-color: #fff;
          border-radius: 0.5em;
          animation: mouse-wheel-ani 1s linear infinite alternate;
        }
      }
      
      span{
        color: #fff;
        font-size: $font-caption;
        text-transform: capitalize;
      }

    }      
  }

  #profile{

    // padding: 8vh 0;

    @include portrait{
      height: fit-content;
    }

    .container{
      overflow: visible;

      .content-wrap{
        @include fill-parent;
        @include flex-center;

        .content{
          @include flex-center;
          width: 100%;
          align-items: stretch;
          gap: $space-xl;

          @include portrait{
            flex-direction: column-reverse;
          }

          .box{
            // font-size: clamp-calc(1, 10);
            flex: 2;
            @include glass;
            border-radius: $radius-md;
            padding: $p-xl;
            @include flex(column, $space-lg);

            @include portrait{
              width: 100%;
              gap: $space-xl;
              padding: $p-lg;
            }

            &::after{
              filter: blur(12rem);
            }
            
            .desc{
              font-size: clamp-calc(7, 10);
              display: flex;
              flex-direction: column;
              gap: $space-md;

              @include portrait{
                gap: $space-lg;
              }

              .row{
                // border: 1px solid #000;
                display: flex;
                // align-items: baseline;
                align-items: flex-start;
                gap: $space-lg;

                @include portrait{
                  @include flex(column, $space-sm);
                }

                h4{
                  flex: 1;
                  // text-transform: capitalize;
                  text-transform: uppercase;
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  white-space: nowrap;
                  min-width: 6em;
                }

                .details{
                  flex: 2;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  
                  p{
                    span{
                      margin-right: $space-sm;
                    }
                  }
                  
                  .sub{
                    color: var(--sub-text-color);
                  }
                }

                &.r1 .details{
                  p:first-of-type{
                    font-size: $font-h5;
                  }
                }

                &.r5 .details{
                  flex-direction: row;
                  flex-wrap: wrap; 
                  // gap: 2rem; 
                  // align-items: flex-start;
                  @include portrait{
                    align-self: stretch;
                  }

                  .circleContainer{
                    flex: 1;
                    @include flex-center;
                    flex-direction: column;

                    .circleBox{
                      position: relative;
                      width: 100%;
                      aspect-ratio: 1/1;
                      @include flex-center;

                      svg{
                        position: absolute; 
                        transform: rotate(-90deg);

                        circle {
                          fill: none;
                          stroke-width: 8;
                          stroke-linecap: round;

                          &.bg {
                            stroke: #eee;
                          }

                          &.fg {
                            stroke: var(--point-color);
                            stroke-dasharray: 251.2; /* 2π * r(40) ≈ 251.2 */
                            stroke-dashoffset: 251.2;
                          }
                        }
                      }

                      iconify-icon{
                        font-size: $font-h4;
                      }

                    }

                  }
                }

              }
            }

            a{
              font-size: clamp-calc(7, 10);
              align-self: flex-end;
              gap: $space-sm;

              iconify-icon{
                font-size: $font-h5;
                color: #0000ee;
              }
              p{
                color: var(--text-color);
              }
            }
          }

          .portrait{
            flex: 1;
            position: relative;
            @include flex-center;

            // svg{
            //   @include fill-parent;
            // }

          }
        }
      }
    }
  }
    
    
  #publishing{
    border: 1px solid #000;
    // background: var(--bg-s3);
    .container{
      .content-wrap{
        @include fill-parent;
        @include flex-center;

        .cards{
          position: relative;
          width: 100%;
          height: 100%;
          @include flex-center;

          .card{
            // position: absolute;
            position: relative;

            aspect-ratio: 2/3;
            max-width: 40em;
            max-height: 60em;
            width: 100%;
            height: 100%;
            border-radius: $radius-md;
            padding: $space-lg;
            overflow: hidden;

            &::before{
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              box-shadow: 
                inset 0 0 0.2em 0 #FFF,
                inset 0 0 1em 0 rgba(255, 255, 255, 0.5), 
                inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 
                0 2rem 3em 0 rgba(255, 255, 255, 0.3), 
                0 1rem 3em 0 rgba(0, 0, 0, 0.05);
              border-radius: inherit;
              pointer-events: none;
              z-index: 10;
            }

            // &::after{
            //   content: none;
            // }

            &[data-index="0"]{
              /* 아이폰 XR */
              background-image: url(../images/deosup.png); 
              background-position: center top;
              background-size: cover;
            }
            &[data-index="1"]{
              /* iPhone 14 Pro Max */
              background-image: url(../images/arthub.png); 
              background-position: center top;
              background-size: cover;
            }
            &[data-index="2"]{
              /* pc */
              background-image: url(../images/wicked.png); 
              background-position: center top;
              background-size: cover;
            }

            .card-num{
              // font-family: 'YUniverse-B';
              color: #fff;
              mix-blend-mode: difference;
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              line-height: 1.2;
              

              p{
                color: var(--point-color);
                font-weight: 900;
                text-transform: uppercase;
              }
              h3{
                font-family: 'YUniverse-B';
              }
            }

            .card-desc{
              // @include glass;
              position: absolute;
              width: 100%;
              left: 0;
              bottom: 0;
              padding: $space-md $space-lg;
              height: auto;
              // color: rgba(51, 51, 51, 0.8);
              // mix-blend-mode: difference;
              background: rgba(255, 255, 255, 0.3);
              backdrop-filter: blur(1.5rem) saturate(180%);

              z-index: 5;
              // &::after{
              //   content: none;
              // }
              .badges{

                display: flex;
                gap: $space-sm;

                .badge{
                  // display: inline;
                  font-size: $font-caption;
                  border: 0.5px solid rgba(255, 255, 255, 0.3);
                  padding: $space-xs $space-sm;
                  border-radius: $radius-max;
                  background: rgba(255, 255, 255, 0.1);
                  
                  i{
                    margin-right: $space-xs;
                  }
                }
              }

              h5{
                margin-top: $space-xs;
              }

              .links{
                display: flex;
                gap: $space-md;
                text-transform: capitalize;
                margin-top: $space-md;

              }
            }

          }
        }
      }
    }
  }
  
  #uxui{
    // background: var(--bg-s4);
  }

  #graphic{
    // background: var(--bg-s5);
  }

  #planning{
    // background: var(--bg-s6);
  }
  
  
}
















// tablet 1400px 반응형
// @include pc{

// }
// tablet 768px 반응형
// @include tablet{

// }

// mobile 360px 반응형
// @include mobile{
  
// }