@charset "UTF-8";
/* ICON FONT ______________________________*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* font-family: 'Material Symbols Outlined'; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* font-family: fontawesome; */
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");
/* font-family: xeicon; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css");
/* font-family:"bootstrap-icons"; */
/* Typo ______________________________*/
/* SUIT */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
/* font-family: 'SUIT', sans-serif; */
/* SUITE */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE.css");
/* font-family: 'SUITE', sans-serif; */
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Y 유니버스 */
@font-face {
  font-family: "YUniverse-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YUniverse-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}
html body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "SUITE", sans-serif;
  font-weight: normal;
  font-style: normal;
  word-break: keep-all;
  color: var(--text-color);
  user-select: none;
}
html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body hgroup, html body menu, html body nav, html body svg {
  display: block;
}
html body ol, html body ul, html body li {
  list-style: none;
}
html body table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body a {
  text-decoration: none;
  color: inherit;
}
html body img {
  max-width: 100%;
}
html body input, html body button, html body textarea {
  outline: none;
  border: none;
}

:root {
  --text-color: #333;
  --bg-grad: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);
  --bg-s2: linear-gradient(108deg, #fff 0% #F2BA52 100%);
  --bg-s3: linear-gradient(108deg, #F2BA52 0% #F2A766 100%);
  --bg-s4: linear-gradient(108deg, #F2A766 0% #F2784B 100%);
  --bg-s5: linear-gradient(108deg, #F2784B 0% #D95E52 100%);
  --bg-s6: linear-gradient(108deg, #D95E52 0% #7A9FBF 100%);
  --opacity: rgba(255, 255, 255, 0.7);
}

.quick-btns {
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quick-btns .btn {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem) saturate(120%);
  border: 0.1em solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .quick-btns .btn:hover {
    transform: scale(0.95);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}
@media (hover: none) {
  .quick-btns .btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}
.quick-btns i, .quick-btns iconify-icon {
  font-size: 1.8em;
}
.quick-btns button {
  width: 5em;
  height: 5em;
}
.quick-btns .logo-btn {
  position: relative;
}
.quick-btns .logo-btn svg {
  position: absolute;
  width: 80%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.quick-btns .top-btn {
  margin-top: 1em;
  color: var(--opacity);
}
.quick-btns a {
  width: 3.5em;
  height: 3.5em;
  margin: 0.8em 0;
}
.quick-btns .link-btns {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1em);
  transition: all 0.3s ease;
}
.quick-btns .link-btns.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.quick-btns .link-btns .pdf-btn {
  color: #EF5350;
}
.quick-btns .link-btns .resume-btn {
  color: #2c76b6;
}

.navigation {
  position: fixed;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
  /* display: none; */
}
.navigation .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.1rem;
  height: 95%;
  background: black;
  z-index: 1;
}
.navigation ul {
  height: 40vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation ul li {
  position: relative;
  cursor: pointer;
}
.navigation ul li .dot {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #fff;
  filter: blur(0.3em);
}
.navigation ul li span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
  opacity: 0;
  pointer-events: none;
}

@media (orientation: portrait) {
  .navigation {
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .navigation .progress {
    width: 95%;
    height: 0.1rem;
  }
  .navigation ul {
    width: 70vw;
    height: auto;
    flex-direction: row;
  }
  .navigation ul li span {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#logo-white .half-circle,
#logo-white .wave {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-white .brush-head {
  fill: white;
  stroke: white;
}
#logo-white .brush-body {
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#logo-white .search {
  fill: white;
}

#logo-colored .half-circle {
  stroke: url(#grad);
  fill: url(#grad);
}
#logo-colored .brush-head,
#logo-colored .brush-body,
#logo-colored .search {
  fill: url(#grad);
  stroke: url(#grad);
}
#logo-colored .wave1 {
  stroke: url(#wave-1);
}
#logo-colored .wave2 {
  stroke: url(#wave-2);
}
#logo-colored .wave3 {
  stroke: url(#wave-3);
}
#logo-colored .wave,
#logo-colored .half-circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-colored .brush-body {
  stroke-width: 1.5;
  stroke-linejoin: round;
}

/* 재활용가능한 것들 */
@keyframes mouse-wheel-ani {
  0% {
    top: 30%;
  }
  100% {
    top: 50%;
  }
}
@keyframes rotate-y-180 {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
body {
  font-size: clamp(0.8rem, 0.731rem + 0.192vw, 1rem);
}

h1 {
  font-family: "YUniverse-B";
  font-size: clamp(6.4rem, -1.815rem + 22.821vw, 42rem);
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 5vw;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-size: inherit;
  cursor: pointer;
}

/*  ~ Common _____________________ */
#layout {
  overflow-x: hidden;
}
#layout #load {
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#layout #load .background-gradient {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad);
  filter: blur(0rem);
}
#layout #load .background-gradient::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
#layout #load .container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: none;
}
#layout #load .container .possessive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 28vw;
}
#layout #load .container .possessive .logo {
  max-height: 50vh;
}
#layout #load .container .possessive h1 {
  position: absolute;
  display: none;
  left: calc(50% + 15vw);
  color: var(--opacity);
  /* 별모양 */
}
#layout #load .container .possessive h1 span {
  display: inline-block;
  vertical-align: top;
  font-size: clamp(2.4rem, -1.2rem + 10vw, 12.8rem);
  animation: rotate-y-180 5s infinite ease-in-out;
  transform-origin: center center;
}
#layout #load .container h3 {
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: clamp(2.4rem, 1.985rem + 1.154vw, 3.6rem);
  z-index: 0;
}
#layout #intro {
  position: relative;
  overflow: hidden;
}
#layout #intro h1 {
  position: absolute;
  top: 50vh;
  line-height: clamp(6.4rem, -1.815rem + 22.821vw, 42rem);
  text-transform: capitalize;
  letter-spacing: 0.08em;
  color: var(--opacity);
}
#layout #intro .mouse-wrap {
  position: absolute;
  top: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#layout #intro .mouse-wrap .mouse {
  position: relative;
  border: 0.2em solid #fff;
  width: 3.2em;
  height: 4.5em;
  border-radius: 3em;
  margin: 0 auto;
}
#layout #intro .mouse-wrap .mouse::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.4em;
  height: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  animation: mouse-wheel-ani 1s linear infinite alternate;
}
#layout #intro .mouse-wrap span {
  color: #fff;
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
  text-transform: capitalize;
}
#layout #publishing .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: rotateX(-20deg) translateY(-70px);
  transform-style: preserve-3d;
  perspective: 800px;
  user-select: none;
  cursor: grab;
}
#layout #publishing .carousel .carousel-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  transform: translate3d(0, 0, -10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform-origin: 50% 50%;
}