@charset "UTF-8";
/* ICON FONT ______________________________*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* font-family: 'Material Symbols Outlined'; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* font-family: fontawesome; */
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");
/* font-family: xeicon; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css");
/* font-family:"bootstrap-icons"; */
/* Typo ______________________________*/
/* SUIT */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
/* font-family: 'SUIT', sans-serif; */
/* SUITE */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE.css");
/* font-family: 'SUITE', sans-serif; */
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Y 유니버스 */
@font-face {
  font-family: "YUniverse-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YUniverse-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}
html body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "SUITE", sans-serif;
  font-weight: normal;
  font-style: normal;
  word-break: keep-all;
  font-variant-numeric: tabular-nums;
  color: var(--text-color);
  user-select: none;
}
html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body hgroup, html body menu, html body nav, html body svg {
  display: block;
}
html body ol, html body ul, html body li {
  list-style: none;
}
html body table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body a {
  text-decoration: none;
}
html body img {
  max-width: 100%;
}
html body input, html body button, html body textarea {
  outline: none;
  border: none;
}

:root {
  --text-color: rgba(51, 51, 51, 0.8);
  --sub-text-color: rgba(51, 51, 51, 0.6);
  --bg-grad: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);
  --bg-grad2: linear-gradient(174deg, #F0EEE9 23.56%, #F2BA52 38%, #F2A766 54.99%, #F2784B 61.78%, #D95E52 64.85%, #7A9FBF 100%);
  --opacity: rgba(255, 255, 255, 0.7);
}

.quick-btns {
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (hover: hover) {
  .quick-btns .btn-c:hover {
    transform: scale(0.95);
  }
}
@media (hover: none) {
  .quick-btns .btn-c:active {
    transform: scale(0.95);
  }
}
.quick-btns i, .quick-btns iconify-icon {
  font-size: 1.8em;
}
.quick-btns button {
  width: 5em;
  height: 5em;
}
.quick-btns .logo-btn {
  position: relative;
}
.quick-btns .logo-btn svg {
  position: absolute;
  width: 80%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.quick-btns .top-btn {
  margin-top: 1em;
  color: var(--opacity);
}
.quick-btns a {
  width: 3.5em;
  height: 3.5em;
  margin: 0.8em 0;
}
.quick-btns .link-btns {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1em);
  transition: all 0.3s ease;
}
.quick-btns .link-btns.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.quick-btns .link-btns .pdf-btn {
  color: #EF5350;
}
.quick-btns .link-btns .resume-btn {
  color: #2c76b6;
}

.navigation {
  position: fixed;
  left: 5vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.navigation ul .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.1rem;
  height: 95%;
  background: #fff;
  z-index: -1;
}
.navigation ul li {
  position: relative;
  cursor: pointer;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.navigation ul li:last-of-type {
  margin-bottom: 0;
}
.navigation ul li .dot {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 1em 0 rgba(255, 255, 255, 0.5), inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 0 1rem 3em 0 rgba(0, 0, 0, 0.05), 0 2rem 3em 0 rgba(255, 255, 255, 0.3), 0 -0.5em 1em 0 rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1rem) saturate(120%);
  overflow: hidden;
  position: relative;
}
.navigation ul li .dot::after {
  content: "";
  width: 50%;
  height: 25%;
  position: absolute;
  bottom: -12.5%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  border-radius: 25%/50%;
  filter: blur(0.5rem);
  z-index: -1;
}
.navigation ul li span {
  position: absolute;
  white-space: nowrap;
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
  opacity: 0;
  pointer-events: none;
}

@media (orientation: portrait) {
  .navigation {
    left: auto;
    height: auto;
    width: 100vw;
    bottom: 90vh;
  }
  .navigation ul {
    width: 70vw;
    height: auto;
    flex-direction: row;
  }
  .navigation ul .progress {
    width: 95%;
    height: 0.1rem;
  }
  .navigation ul li {
    margin-bottom: 0;
    justify-content: center;
  }
}
#logo-white .half-circle,
#logo-white .wave {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-white .brush-head {
  fill: white;
  stroke: white;
}
#logo-white .brush-body {
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#logo-white .search {
  fill: white;
}

#logo-colored .half-circle {
  stroke: url(#grad);
  fill: url(#grad);
}
#logo-colored .brush-head,
#logo-colored .brush-body,
#logo-colored .search {
  fill: url(#grad);
  stroke: url(#grad);
}
#logo-colored .wave1 {
  stroke: url(#wave-1);
}
#logo-colored .wave2 {
  stroke: url(#wave-2);
}
#logo-colored .wave3 {
  stroke: url(#wave-3);
}
#logo-colored .wave,
#logo-colored .half-circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-colored .brush-body {
  stroke-width: 1.5;
  stroke-linejoin: round;
}

/* 재활용가능한 것들 */
@keyframes mouse-wheel-ani {
  0% {
    top: 30%;
  }
  100% {
    top: 50%;
  }
}
@keyframes rotate-y-180 {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
body {
  font-size: clamp(0.8rem, 0.731rem + 0.192vw, 1rem);
  line-height: 1.5;
}

h1 {
  font-family: "YUniverse-B";
  font-size: clamp(6.4rem, -0.431rem + 18.974vw, 36rem);
}

h2 {
  font-family: "YUniverse-B";
  font-size: clamp(4.8rem, 0.923rem + 10.769vw, 16rem);
}

h3 {
  font-size: clamp(2.4rem, 1.015rem + 3.846vw, 6.4rem);
}

h4 {
  font-size: clamp(2.4rem, 2.123rem + 0.769vw, 3.2rem);
}

h5 {
  font-size: clamp(2.4rem, 2.4rem + 0vw, 2.4rem);
}

p {
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 5vw;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-size: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-c {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 1em 0 rgba(255, 255, 255, 0.5), inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 0 1rem 3em 0 rgba(0, 0, 0, 0.05), 0 2rem 3em 0 rgba(255, 255, 255, 0.3), 0 -0.5em 1em 0 rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1rem) saturate(120%);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.btn-c::after {
  content: "";
  width: 50%;
  height: 25%;
  position: absolute;
  bottom: -12.5%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  border-radius: 25%/50%;
  filter: blur(0.5rem);
  z-index: -1;
}

.btn-r {
  border-radius: 1em;
  padding: 1em 3em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 1em 0 rgba(255, 255, 255, 0.5), inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 0 1rem 3em 0 rgba(0, 0, 0, 0.05), 0 2rem 3em 0 rgba(255, 255, 255, 0.3), 0 -0.5em 1em 0 rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1rem) saturate(120%);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.btn-r::after {
  content: "";
  width: 50%;
  height: 25%;
  position: absolute;
  bottom: -12.5%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  border-radius: 25%/50%;
  filter: blur(0.5rem);
  z-index: -1;
}

/*  ~ Common _____________________ */
#layout {
  overflow-x: hidden;
}
#layout .bg {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad2);
}
#layout .bg::before {
  content: "";
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
#layout #intro {
  position: relative;
}
#layout #intro .container {
  position: absolute;
  height: 80vh;
}
#layout #intro .bg-grad {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad);
  filter: blur(0rem);
}
#layout #intro .content-wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5.2em;
}
#layout #intro .content-wrap h1 {
  line-height: 0.9em;
  letter-spacing: 0.13em;
  color: #888;
  mix-blend-mode: color-burn;
}
#layout #intro .content-wrap h2 {
  color: #888;
  mix-blend-mode: color-burn;
  line-height: 0.9em;
}
#layout #intro .content-wrap .loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
  z-index: 900;
}
#layout #intro .content-wrap .loader-wrap .loader-text {
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  color: #fff;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap {
  width: 60vw;
  height: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo {
  height: 100%;
  aspect-ratio: 270/225;
  perspective: 100rem;
  cursor: pointer;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo:hover .logo-flip, #layout #intro .content-wrap .loader-wrap .possessive-wrap .logo.flipped .logo-flip {
  transform: rotateY(180deg);
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip > div {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip .logo-front svg {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip .logo-back {
  transform: rotateY(180deg);
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip .logo-back h2 {
  color: var(--opacity);
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .possessive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* 별모양 */
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .possessive span {
  height: 110%;
  font-family: "YUniverse-B";
  color: var(--opacity);
  font-size: clamp(2.4rem, 1.015rem + 3.846vw, 6.4rem);
  transform-origin: center center;
  animation: rotate-y-180 5s infinite ease-in-out;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .possessive h2 {
  color: var(--opacity);
}
#layout #intro .mouse-wrap {
  position: absolute;
  top: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#layout #intro .mouse-wrap .mouse {
  position: relative;
  border: 0.2em solid #fff;
  width: 3.2em;
  height: 4.5em;
  border-radius: 3em;
  margin: 0 auto;
}
#layout #intro .mouse-wrap .mouse::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.4em;
  height: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  animation: mouse-wheel-ani 1s linear infinite alternate;
}
#layout #intro .mouse-wrap span {
  color: #fff;
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
  text-transform: capitalize;
}
#layout #profile .container {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#layout #profile .container h3 {
  margin-bottom: 1em;
}
#layout #profile .container .content-wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2em;
}
#layout #profile .container .content-wrap .box {
  flex: 2;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 1em 0 rgba(255, 255, 255, 0.5), inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 0 1rem 3em 0 rgba(0, 0, 0, 0.05), 0 2rem 3em 0 rgba(255, 255, 255, 0.3), 0 -0.5em 1em 0 rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1rem) saturate(120%);
  overflow: hidden;
  position: relative;
  border-radius: 2em;
  padding: 5.2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
#layout #profile .container .content-wrap .box::after {
  content: "";
  width: 50%;
  height: 25%;
  position: absolute;
  bottom: -12.5%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  border-radius: 25%/50%;
  filter: blur(0.5rem);
  z-index: -1;
}
#layout #profile .container .content-wrap .box::after {
  filter: blur(12rem);
}
#layout #profile .container .content-wrap .box .desc {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
#layout #profile .container .content-wrap .box .desc .row {
  display: flex;
  align-items: baseline;
  gap: 3em;
}
#layout #profile .container .content-wrap .box .desc .row h4 {
  flex: 1;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#layout #profile .container .content-wrap .box .desc .row .details {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#layout #profile .container .content-wrap .box .desc .row .details p span {
  margin-right: 1em;
}
#layout #profile .container .content-wrap .box .desc .row .details .sub {
  color: var(--sub-text-color);
}
#layout #profile .container .content-wrap .box .desc .row.r1 .details p:first-of-type {
  font-size: clamp(2.4rem, 2.4rem + 0vw, 2.4rem);
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details {
  flex-direction: row;
  flex-wrap: wrap;
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .circleBox {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .circleBox svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* 12시 방향부터 시작 */
  z-index: 0;
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .circleBox svg circle {
  fill: none;
  stroke-width: 8; /* 선 두께 (viewBox 100 기준) */
  stroke-linecap: round; /* 선 끝을 둥글게 */
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .circleBox svg circle.bg {
  stroke: #eee; /* 배경색 */
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .circleBox svg circle.fg {
  stroke: #F2784B; /* 차트 색상 */
  stroke-dasharray: 251.2; /* 2 * π * r(40) ≈ 251.2 */
  stroke-dashoffset: 251.2;
  /* 예시: 90% -> 251.2 * (1 - 0.9) ≈ 25.12 */
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .circleBox iconify-icon {
  z-index: 1;
  font-size: 2.2rem;
}
#layout #profile .container .content-wrap .box .desc .row.r5 .details .circleContainer .rate {
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
  font-weight: 500;
  color: #666;
  text-align: center;
}
#layout #profile .container .content-wrap .box a {
  align-self: flex-end;
  gap: 1em;
}
#layout #profile .container .content-wrap .box a iconify-icon {
  font-size: clamp(2.4rem, 2.4rem + 0vw, 2.4rem);
}
#layout #profile .container .content-wrap .box a p {
  color: var(--text-color);
}
#layout #profile .container .content-wrap img {
  flex: 1;
  border: 1px solid #000;
}