@charset "UTF-8";
/* ICON FONT ______________________________*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* font-family: 'Material Symbols Outlined'; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* font-family: fontawesome; */
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");
/* font-family: xeicon; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css");
/* font-family:"bootstrap-icons"; */
/* Typo ______________________________*/
/* SUIT */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
/* font-family: 'SUIT', sans-serif; */
/* SUITE */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE.css");
/* font-family: 'SUITE', sans-serif; */
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Y 유니버스 */
@font-face {
  font-family: "YUniverse-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YUniverse-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
  color: var(--text-color);
}
html body {
  width: 100%;
  height: 100%;
  font-family: "SUITE", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  word-break: keep-all;
}
html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body hgroup, html body menu, html body nav, html body svg {
  display: block;
}
html body ol, html body ul, html body li {
  list-style: none;
}
html body table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body a {
  text-decoration: none;
  color: inherit;
}
html body img {
  max-width: 100%;
}
html body input, html body button, html body textarea {
  outline: none;
  border: none;
}

:root {
  --bg-color: #fff;
  --bg-color-rgb: 255, 255, 255;
  --text-color: #333;
  --text-color-rgb: 51, 51, 51;
  --bg-grad: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);
  --opacity: rgba(255, 255, 255, 0.7);
}

.quick-btns {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quick-btns .btn {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .quick-btns .btn:hover {
    transform: scale(0.95);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}
@media (hover: none) {
  .quick-btns .btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}
.quick-btns i, .quick-btns iconify-icon {
  font-size: clamp(1.2rem, 1.4vw, 2rem);
}
.quick-btns button {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.quick-btns .logo-btn {
  position: relative;
}
.quick-btns .logo-btn svg {
  position: absolute;
  width: 80%;
  top: 15%;
}
.quick-btns .top-btn {
  margin-top: 1rem;
  color: #fff;
}
.quick-btns a {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0;
}
.quick-btns .link-btns {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  transition: all 0.3s ease;
}
.quick-btns .link-btns.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.quick-btns .link-btns .resume-btn {
  color: #2c76b6;
}
.quick-btns .link-btns .pdf-btn {
  color: #EF5350;
}

.navigation {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
  /* display: none; */
  /* mix-blend-mode: difference; */
}
.navigation .progress {
  width: 2px;
  height: 100%;
  background: hotpink;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  /* transform: translateX(-50%); */
  top: 0;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  /* color: #fff; */
}
.navigation ul li {
  position: relative;
  margin-bottom: 30px;
}
.navigation ul li:last-child {
  margin-bottom: 0;
}
.navigation ul li .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: hotpink;
  position: relative;
  z-index: 10;
}
.navigation ul li span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  font-weight: bold;
}

#logo-white .half-circle,
#logo-white .wave {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-white .brush-head {
  fill: white;
  stroke: white;
}
#logo-white .brush-body {
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#logo-white .search {
  fill: white;
}

#logo-colored .half-circle {
  stroke: url(#grad);
  fill: url(#grad);
}
#logo-colored .brush-head,
#logo-colored .brush-body,
#logo-colored .search {
  fill: url(#grad);
  stroke: url(#grad);
}
#logo-colored .wave1 {
  stroke: url(#wave-1);
}
#logo-colored .wave2 {
  stroke: url(#wave-2);
}
#logo-colored .wave3 {
  stroke: url(#wave-3);
}
#logo-colored .wave,
#logo-colored .half-circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-colored .brush-body {
  stroke-width: 1.5;
  stroke-linejoin: round;
}

@keyframes mouse-wheel-ani {
  /* 0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  } */
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}
.mouse-scroll {
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #333;
  position: relative;
}

.mouse {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.mouse .mouse-wheel { /* 마우스모양 */
  border: 2px solid #fff;
  position: relative;
  width: 32px;
  height: 45px;
  border-radius: 30px;
  margin: auto;
}

.mouse .mouse-wheel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, -90%); */
  width: 4px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  animation: mouse-wheel-ani 3s linear infinite alternate;
}

.mouse span {
  color: #fff;
  font-size: 12px;
}

/* 재활용가능한 것들 */
/* 기본 1400이상 max-width: 1400px */
body {
  overflow: hidden;
  font-size: clamp(1.2rem, 1.4vw, 2rem);
  color: var(--text-color);
  /*  ~ Common _______________________ */
}
body h1 {
  font-family: "YUniverse-B";
  font-size: clamp(6rem, 22vw - 2rem, 40rem);
}
body section {
  height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section .container {
  width: 100%;
  height: 100%;
  margin: 0 5vw;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
body section .container img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #layout {
  height: 100vh;
}
body #layout #load {
  position: fixed;
  z-index: 1000;
}
body #layout #load .background-gradient {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad);
  filter: blur(0rem);
  z-index: -1;
}
body #layout #load .background-gradient::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
body #layout #load .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: none;
}
body #layout #load .container .possessive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 28vw;
}
body #layout #load .container .possessive .logo {
  max-height: 50vh;
}
body #layout #load .container .possessive h1 {
  position: absolute;
  display: none;
  color: #fff;
  left: calc(50% + 15vw);
  color: var(--opacity);
  /* 별모양 */
}
body #layout #load .container .possessive h1 span {
  vertical-align: top;
  font-size: clamp(4rem, 10vw, 15rem);
}
body #layout #load .container h3 {
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  color: #fff;
}
body #layout #intro {
  position: relative;
}
body #layout #intro .container h1 {
  position: absolute;
  width: 100%;
  top: 50vh;
  text-transform: capitalize;
  letter-spacing: clamp(1.4rem, 2.1vw, 3rem);
  color: var(--opacity);
}
body #layout #publishing .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: rotateX(-20deg) translateY(-70px);
  transform-style: preserve-3d;
  perspective: 800px;
  user-select: none;
  cursor: grab;
}
body #layout #publishing .carousel .carousel-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  transform: translate3d(0, 0, -10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform-origin: 50% 50%;
}