@charset "UTF-8";
/* ICON FONT ______________________________*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* font-family: 'Material Symbols Outlined'; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* font-family: fontawesome; */
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");
/* font-family: xeicon; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css");
/* font-family:"bootstrap-icons"; */
/* Typo ______________________________*/
/* SUIT */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
/* font-family: 'SUIT', sans-serif; */
/* SUITE */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE.css");
/* font-family: 'SUITE', sans-serif; */
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Y 유니버스 */
@font-face {
  font-family: "YUniverse-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YUniverse-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
  color: var(--text-color);
}
html body {
  width: 100%;
  height: 100%;
  font-family: "SUITE", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  word-break: keep-all;
}
html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body hgroup, html body menu, html body nav {
  display: block;
}
html body ol, html body ul, html body li {
  list-style: none;
}
html body table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body a {
  text-decoration: none;
  color: inherit;
}
html body img {
  max-width: 100%;
}
html body input, html body button, html body textarea {
  outline: none;
  border: none;
}

:root {
  --bg-color: #fff;
  --bg-color-rgb: 255, 255, 255;
  --text-color: #333;
  --text-color-rgb: 51, 51, 51;
  --bg-grad: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);
}

.navigation {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 900;
  /* display: none; */
  /* mix-blend-mode: difference; */
}
.navigation .progress {
  width: 2px;
  height: 100%;
  background: hotpink;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  /* transform: translateX(-50%); */
  top: 0;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  /* color: #fff; */
}
.navigation ul li {
  position: relative;
  margin-bottom: 30px;
}
.navigation ul li:last-child {
  margin-bottom: 0;
}
.navigation ul li .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: hotpink;
  position: relative;
  z-index: 10;
}
.navigation ul li span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  font-weight: bold;
}

/* 재활용가능한 것들 */
/* 기본 1400이상 max-width: 1400px */
body {
  overflow: hidden;
  scroll-behavior: auto;
  font-size: clamp(1.2rem, 1.4vw, 2rem);
  /*  ~ Common _______________________ */
}
body h1 {
  font-family: "YUniverse-B";
  font-size: clamp(5rem, 14vw, 20rem);
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(var(--text-color-rgb), 0.8);
}
body h2 {
  font-family: "YUniverse-B";
}
body img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
body section {
  height: 100vh;
  position: relative;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section .container {
  width: 100%;
  height: 100%;
  margin: 0 5vw;
  background-color: gray;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #load {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
body #load .background-gradient {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad);
  z-index: -1;
}
body #load .background-gradient::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
body #load .container {
  background: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body #load .container .logo {
  max-height: 50%;
}
body #load .container #logo-colored {
  opacity: 0;
  visibility: hidden;
}
body #load .container #logo-colored .half-circle {
  stroke: url(#grad);
  fill: url(#grad);
}
body #load .container #logo-colored .brush-head,
body #load .container #logo-colored .brush-body,
body #load .container #logo-colored .search {
  fill: url(#grad);
  stroke: url(#grad);
}
body #load .container #logo-colored .wave1 {
  stroke: url(#wave-1);
}
body #load .container #logo-colored .wave2 {
  stroke: url(#wave-2);
}
body #load .container #logo-colored .wave3 {
  stroke: url(#wave-3);
}
body #load .container #logo-colored .wave,
body #load .container #logo-colored .half-circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
body #load .container #logo-colored .brush-body {
  stroke-width: 1.5;
  stroke-linejoin: round;
}
body #load .container #logo-white .half-circle,
body #load .container #logo-white .wave {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-linecap: round;
}
body #load .container #logo-white .brush-head {
  fill: white;
  stroke: white;
}
body #load .container #logo-white .brush-body {
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
body #load .container #logo-white .search {
  fill: white;
}
body #load .container h2 {
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  color: #fff;
}
body #layout {
  height: 100vh;
}
body #layout #intro .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: none;
}
body #layout #publishing .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: rotateX(-20deg) translateY(-70px);
  transform-style: preserve-3d;
  perspective: 800px;
  user-select: none;
  cursor: grab;
}
body #layout #publishing .carousel .carousel-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  transform: translate3d(0, 0, -10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform-origin: 50% 50%;
}