@charset "UTF-8";
/* ICON FONT ______________________________*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* font-family: 'Material Symbols Outlined'; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* font-family: fontawesome; */
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");
/* font-family: xeicon; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css");
/* font-family:"bootstrap-icons"; */
/* Typo ______________________________*/
/* SUIT */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
/* font-family: 'SUIT', sans-serif; */
/* SUITE */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE.css");
/* font-family: 'SUITE', sans-serif; */
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Y 유니버스 */
@font-face {
  font-family: "YUniverse-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YUniverse-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}
html body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "SUITE", sans-serif;
  font-weight: normal;
  font-style: normal;
  word-break: keep-all;
  font-variant-numeric: tabular-nums;
  color: var(--text-color);
  user-select: none;
}
html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body hgroup, html body menu, html body nav, html body svg {
  display: block;
}
html body ol, html body ul, html body li {
  list-style: none;
}
html body table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body a {
  text-decoration: none;
  color: inherit;
}
html body a:visited {
  color: inherit;
}
html body img {
  max-width: 100%;
}
html body input, html body button, html body textarea {
  outline: none;
  border: none;
}

:root {
  --text-color: #333;
  --text-color-rgb: 51, 51, 51;
  --sub-text-color: rgba(var(--text-color-rgb), 0.6);
  --point-color: rgb(242, 120, 75);
  --point-color-rgb: 242, 120, 75;
  --bg-grad: linear-gradient(to bottom, #F2BA52 27%, #F2A766 47%, #F2784B 55%, #D95E52 59%, #7A9FBF 100%);
  --bg-grad2: linear-gradient(174deg, #F0EEE9 23.56%, #F2BA52 38%, #F2A766 54.99%, #F2784B 61.78%, #D95E52 64.85%, #7A9FBF 100%);
  --opacity: rgba(255, 255, 255, 0.7);
}

/* 네비, 퀵 */
/* 가로 */
/* 세로 */
body {
  font-size: clamp(0.7rem, 0.596rem + 0.288vw, 1rem);
  line-height: 1.5;
}

h1 {
  font-family: "YUniverse-B";
  font-size: clamp(6.4rem, -0.431rem + 18.974vw, 36rem);
}

h2 {
  font-family: "YUniverse-B";
  font-size: clamp(4.8rem, 0.923rem + 10.769vw, 16rem);
}

h3 {
  font-size: clamp(2.4rem, 1.015rem + 3.846vw, 6.4rem);
}

h3.title {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
@media (orientation: portrait) {
  h3.title {
    margin-top: 0.5em;
  }
}

h4 {
  font-family: "YUniverse-B";
  font-size: clamp(1.6rem, 1.046rem + 1.538vw, 3.2rem);
}

h5 {
  font-size: clamp(1.4rem, 1.054rem + 0.962vw, 2.4rem);
}

p {
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 8vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (orientation: portrait) {
  section {
    padding: 10vh 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 12vw;
  max-width: 1400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}
@media (orientation: portrait) {
  .container {
    margin: 0 5vw;
  }
}

img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

a {
  font-size: clamp(1.2rem, 1.062rem + 0.385vw, 1.6rem);
}

button {
  font-size: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-c {
  border-radius: 100%;
  border: 0.1em solid rgba(255, 255, 255, 0.4);
  border-top: 0.1em solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.45) 100%);
  box-shadow: inset 0 0 0.2em 0 rgba(255, 255, 255, 0.4), inset 0 0 1.2em 0 rgba(255, 255, 255, 0.3), 0 1.2em 2.5em 0 rgba(255, 255, 255, 0.2), 0 0.4em 1.2em 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.2rem) saturate(130%);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.btn-c::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 30%;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30%/80%;
  filter: blur(0.7rem);
  background: #FFF;
  z-index: -1;
}
@media (hover: hover) {
  .btn-c:hover {
    transform: scale(0.95);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 0.5em 0 rgba(255, 255, 255, 0.5), inset 0 0 1.5em 0 rgba(255, 255, 255, 0.5), 0 0.5rem 1em 0 rgba(255, 255, 255, 0.3), 0 0.3rem 1em 0 rgba(0, 0, 0, 0.1);
  }
}
@media (hover: none) {
  .btn-c:active {
    transform: scale(0.95);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 0.5em 0 rgba(255, 255, 255, 0.5), inset 0 0 1.5em 0 rgba(255, 255, 255, 0.5), 0 0.5rem 1em 0 rgba(255, 255, 255, 0.3), 0 0.3rem 1em 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-r {
  border-radius: 1em;
  padding: 1em 2em;
  border: 0.1em solid rgba(255, 255, 255, 0.4);
  border-top: 0.1em solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.45) 100%);
  box-shadow: inset 0 0 0.2em 0 rgba(255, 255, 255, 0.4), inset 0 0 1.2em 0 rgba(255, 255, 255, 0.3), 0 1.2em 2.5em 0 rgba(255, 255, 255, 0.2), 0 0.4em 1.2em 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.2rem) saturate(130%);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  white-space: nowrap;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.btn-r::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 30%;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30%/80%;
  filter: blur(0.7rem);
  background: #FFF;
  z-index: -1;
}
@media (hover: hover) {
  .btn-r:hover {
    transform: scale(0.95) translateY(0.2em);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: inset 0 0 0.3em 0 rgba(255, 255, 255, 0.6), inset 0 0 1.5em 0 rgba(255, 255, 255, 0.8), 0 0.6rem 1.2em 0 rgba(255, 255, 255, 0.4), 0 0.2rem 0.8em 0 rgba(0, 0, 0, 0.1);
  }
}
@media (hover: none) {
  .btn-r:active {
    transform: scale(0.95) translateY(0.2em);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: inset 0 0 0.3em 0 rgba(255, 255, 255, 0.6), inset 0 0 1.5em 0 rgba(255, 255, 255, 0.8), 0 0.6rem 1.2em 0 rgba(255, 255, 255, 0.4), 0 0.2rem 0.8em 0 rgba(0, 0, 0, 0.1);
  }
}

.point {
  border: 0.1em solid rgba(var(--point-color-rgb), 0.4);
  border-top: 0.1em solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, rgba(var(--point-color-rgb), 0.1) 0%, rgba(var(--point-color-rgb), 0.45) 100%);
  box-shadow: inset 0 0 0.2em 0 rgba(255, 255, 255, 0.4), inset 0 0 1.2em 0 rgba(var(--point-color-rgb), 0.3), 0 1.2em 2.5em 0 rgba(var(--point-color-rgb), 0.2), 0 0.4em 1.2em 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.2rem) saturate(180%);
  color: #fff;
}
.point:visited {
  color: #fff;
}
.point::after {
  background: rgba(var(--point-color-rgb), 0.5);
  filter: blur(1rem);
}
@media (hover: hover) {
  .point:hover {
    background: linear-gradient(to bottom, rgba(var(--point-color-rgb), 0.2) 0%, rgba(var(--point-color-rgb), 0.6) 100%);
    box-shadow: inset 0 0 0.3em 0 rgba(255, 255, 255, 0.6), inset 0 0 1.5em 0 rgba(var(--point-color-rgb), 0.5), 0 0.6rem 1.2em 0 rgba(var(--point-color-rgb), 0.4), 0 0.2rem 0.8em 0 rgba(0, 0, 0, 0.1);
  }
}
@media (hover: none) {
  .point:active {
    background: linear-gradient(to bottom, rgba(var(--point-color-rgb), 0.2) 0%, rgba(var(--point-color-rgb), 0.6) 100%);
    box-shadow: inset 0 0 0.3em 0 rgba(255, 255, 255, 0.6), inset 0 0 1.5em 0 rgba(var(--point-color-rgb), 0.5), 0 0.6rem 1.2em 0 rgba(var(--point-color-rgb), 0.4), 0 0.2rem 0.8em 0 rgba(0, 0, 0, 0.1);
  }
}

.quick-btns {
  position: fixed;
  right: clamp(1.6rem, -5.013rem + 8.611vw, 11.52rem);
  bottom: 8vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quick-btns i, .quick-btns iconify-icon {
  font-size: clamp(1.4rem, 1.192rem + 0.577vw, 2rem);
}
.quick-btns button {
  width: 5em;
  height: 5em;
}
.quick-btns .logo-btn {
  position: relative;
}
.quick-btns .logo-btn svg {
  position: absolute;
  width: 80%;
  top: 15%;
  height: auto;
}
.quick-btns .top-btn {
  margin-top: 1em;
  color: var(--opacity);
}
.quick-btns a {
  width: 3.5em;
  height: 3.5em;
  margin: 0.8em 0;
}
.quick-btns .link-btns {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1em);
  transition: all 0.3s ease;
}
.quick-btns .link-btns.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.quick-btns .link-btns .pdf-btn {
  color: #EF5350;
}
.quick-btns .link-btns .resume-btn {
  color: #2c76b6;
}
.quick-btns .link-btns .git-btn {
  color: #1f2328;
}

.navigation {
  position: fixed;
  left: clamp(1.6rem, -5.013rem + 8.611vw, 11.52rem);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
@media (orientation: portrait) {
  .navigation {
    left: auto;
    height: auto;
    width: 100vw;
    bottom: calc(90vh + 1em);
  }
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (orientation: portrait) {
  .navigation ul {
    width: 70vw;
    height: auto;
    flex-direction: row;
  }
}
.navigation ul .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.1rem;
  height: 95%;
  background: #fff;
  z-index: -1;
}
@media (orientation: portrait) {
  .navigation ul .progress {
    width: 95%;
    height: 0.1rem;
  }
}
.navigation ul li {
  position: relative;
  cursor: pointer;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
@media (orientation: portrait) {
  .navigation ul li {
    margin-bottom: 0;
    justify-content: center;
  }
}
.navigation ul li:last-of-type {
  margin-bottom: 0;
}
.navigation ul li .dot {
  position: relative;
  width: 3em;
  height: 3em;
}
.navigation ul li span {
  position: absolute;
  font-size: clamp(1rem, 0.931rem + 0.192vw, 1.2rem);
  opacity: 0;
  pointer-events: none;
}
@media (orientation: portrait) {
  .navigation ul li span {
    text-align: center;
  }
}

#logo-white .half-circle,
#logo-white .wave {
  fill: none;
  stroke: white;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-white .brush-head {
  fill: white;
  stroke: white;
}
#logo-white .brush-body {
  fill: white;
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#logo-white .search {
  fill: white;
}

#logo-colored .half-circle {
  stroke: url(#grad);
  fill: url(#grad);
}
#logo-colored .brush-head,
#logo-colored .brush-body,
#logo-colored .search {
  fill: url(#grad);
  stroke: url(#grad);
}
#logo-colored .wave1 {
  stroke: url(#wave-1);
}
#logo-colored .wave2 {
  stroke: url(#wave-2);
}
#logo-colored .wave3 {
  stroke: url(#wave-3);
}
#logo-colored .wave,
#logo-colored .half-circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
#logo-colored .brush-body {
  stroke-width: 1.5;
  stroke-linejoin: round;
}

/* 재활용가능한 것들 */
@keyframes mouse-wheel-ani {
  0% {
    top: 30%;
  }
  100% {
    top: 50%;
  }
}
@keyframes rotate-y-180 {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
#layout {
  overflow-x: hidden;
}
#layout .bg {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad2);
}
#layout .bg::before {
  content: "";
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
#layout #intro {
  position: relative;
}
#layout #intro .container {
  position: absolute;
  height: 80vh;
}
#layout #intro .bg-grad {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--bg-grad);
  filter: blur(0rem);
}
#layout #intro .content-wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5.2em;
}
@media (orientation: portrait) {
  #layout #intro .content-wrap {
    gap: 1em;
  }
}
#layout #intro .content-wrap h2.title {
  color: #888;
  mix-blend-mode: color-burn;
  line-height: 0.9em;
}
#layout #intro .content-wrap h1 {
  letter-spacing: 0.13em;
  white-space: nowrap;
}
#layout #intro .content-wrap .loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
  z-index: 900;
}
#layout #intro .content-wrap .loader-wrap .loader-text {
  font-family: "SUITE", sans-serif;
  font-weight: 800;
  color: #fff;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap {
  width: 60vw;
  height: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo {
  height: 100%;
  aspect-ratio: 270/225;
  perspective: 100rem;
  cursor: pointer;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo:hover .logo-flip, #layout #intro .content-wrap .loader-wrap .possessive-wrap .logo.flipped .logo-flip {
  transform: rotateY(180deg);
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip > div {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip .logo-back {
  transform: rotateY(180deg);
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .logo .logo-flip .logo-back h2 {
  color: #fff;
  opacity: 0.7;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .possessive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .possessive .star {
  height: 110%;
  font-family: "YUniverse-B";
  color: #fff;
  opacity: 0.7;
  font-size: clamp(2.4rem, 1.015rem + 3.846vw, 6.4rem);
  transform-origin: center center;
  animation: rotate-y-180 5s infinite ease-in-out;
}
#layout #intro .content-wrap .loader-wrap .possessive-wrap .possessive h2 {
  color: #fff;
  opacity: 0.7;
}
#layout #intro .mouse-wrap {
  position: absolute;
  top: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#layout #intro .mouse-wrap .mouse {
  position: relative;
  border: 0.2em solid #fff;
  width: 3.2em;
  height: 4.5em;
  border-radius: 3em;
  margin: 0 auto;
}
#layout #intro .mouse-wrap .mouse::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.4em;
  height: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  animation: mouse-wheel-ani 1s linear infinite alternate;
}
#layout #intro .mouse-wrap span {
  color: #fff;
  font-size: clamp(1rem, 0.931rem + 0.192vw, 1.2rem);
  text-transform: capitalize;
}
@media (orientation: portrait) {
  #layout #profile {
    height: fit-content;
  }
}
#layout #profile .container {
  overflow: visible;
}
#layout #profile .container .content-wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #profile .container .content-wrap .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: stretch;
  gap: 5.2em;
}
@media (orientation: portrait) {
  #layout #profile .container .content-wrap .content {
    flex-direction: column-reverse;
  }
}
#layout #profile .container .content-wrap .content .box {
  flex: 2;
  border: 0.1em solid rgba(255, 255, 255, 0.4);
  border-top: 0.1em solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.45) 100%);
  box-shadow: inset 0 0 0.2em 0 rgba(255, 255, 255, 0.4), inset 0 0 1.2em 0 rgba(255, 255, 255, 0.3), 0 1.2em 2.5em 0 rgba(255, 255, 255, 0.2), 0 0.4em 1.2em 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.2rem) saturate(130%);
  overflow: hidden;
  position: relative;
  border-radius: 2em;
  padding: clamp(3rem, 0.327rem + 3.481vw, 5.2rem);
  display: flex;
  flex-direction: column;
  gap: 3em;
}
#layout #profile .container .content-wrap .content .box::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 30%;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30%/80%;
  filter: blur(0.7rem);
  background: #FFF;
  z-index: -1;
}
@media (orientation: portrait) {
  #layout #profile .container .content-wrap .content .box {
    width: 100%;
    gap: 5.2em;
    padding: clamp(2.4rem, 1.871rem + 1.471vw, 3rem);
  }
}
#layout #profile .container .content-wrap .content .box::after {
  filter: blur(12rem);
}
#layout #profile .container .content-wrap .content .box .desc {
  font-size: clamp(0.7rem, 0.596rem + 0.288vw, 1rem);
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media (orientation: portrait) {
  #layout #profile .container .content-wrap .content .box .desc {
    gap: 3em;
  }
}
#layout #profile .container .content-wrap .content .box .desc .row {
  display: flex;
  align-items: flex-start;
  gap: 3em;
}
@media (orientation: portrait) {
  #layout #profile .container .content-wrap .content .box .desc .row {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
#layout #profile .container .content-wrap .content .box .desc .row h4 {
  flex: 1;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  min-width: 6em;
}
#layout #profile .container .content-wrap .content .box .desc .row .details {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#layout #profile .container .content-wrap .content .box .desc .row .details p span {
  margin-right: 1em;
}
#layout #profile .container .content-wrap .content .box .desc .row .details .sub {
  color: var(--sub-text-color);
}
#layout #profile .container .content-wrap .content .box .desc .row.r1 .details p:first-of-type {
  font-size: clamp(1.4rem, 1.054rem + 0.962vw, 2.4rem);
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details {
  flex-direction: row;
  flex-wrap: wrap;
}
@media (orientation: portrait) {
  #layout #profile .container .content-wrap .content .box .desc .row.r5 .details {
    align-self: stretch;
  }
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer .circleBox {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer .circleBox svg {
  position: absolute;
  transform: rotate(-90deg);
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer .circleBox svg circle {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer .circleBox svg circle.bg {
  stroke: #eee;
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer .circleBox svg circle.fg {
  stroke: var(--point-color);
  stroke-dasharray: 251.2; /* 2π * r(40) ≈ 251.2 */
  stroke-dashoffset: 251.2;
}
#layout #profile .container .content-wrap .content .box .desc .row.r5 .details .circleContainer .circleBox iconify-icon {
  font-size: clamp(1.6rem, 1.046rem + 1.538vw, 3.2rem);
}
#layout #profile .container .content-wrap .content .box a {
  font-size: clamp(0.7rem, 0.596rem + 0.288vw, 1rem);
  align-self: flex-end;
  gap: 1em;
}
#layout #profile .container .content-wrap .content .box a iconify-icon {
  font-size: clamp(1.4rem, 1.054rem + 0.962vw, 2.4rem);
  color: #0000ee;
}
#layout #profile .container .content-wrap .content .box a p {
  color: var(--text-color);
}
#layout #profile .container .content-wrap .content .portrait {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #publishing {
  border: 1px solid #000;
}
#layout #publishing .container .content-wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #publishing .container .content-wrap .cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#layout #publishing .container .content-wrap .cards .card {
  position: relative;
  aspect-ratio: 2/3;
  max-width: 40em;
  max-height: 60em;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  padding: 3em;
  overflow: hidden;
}
#layout #publishing .container .content-wrap .cards .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0.2em 0 #FFF, inset 0 0 1em 0 rgba(255, 255, 255, 0.5), inset 0 0 2em 0 rgba(255, 255, 255, 0.5), 0 2rem 3em 0 rgba(255, 255, 255, 0.3), 0 1rem 3em 0 rgba(0, 0, 0, 0.05);
  border-radius: inherit;
  pointer-events: none;
  z-index: 10;
}
#layout #publishing .container .content-wrap .cards .card[data-index="0"] {
  /* 아이폰 XR */
  background-image: url(../images/deosup.png);
  background-position: center top;
  background-size: cover;
}
#layout #publishing .container .content-wrap .cards .card[data-index="1"] {
  /* iPhone 14 Pro Max */
  background-image: url(../images/arthub.png);
  background-position: center top;
  background-size: cover;
}
#layout #publishing .container .content-wrap .cards .card[data-index="2"] {
  /* pc */
  background-image: url(../images/wicked.png);
  background-position: center top;
  background-size: cover;
}
#layout #publishing .container .content-wrap .cards .card .card-num {
  color: #fff;
  mix-blend-mode: difference;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}
#layout #publishing .container .content-wrap .cards .card .card-num p {
  color: var(--point-color);
  font-weight: 900;
  text-transform: uppercase;
}
#layout #publishing .container .content-wrap .cards .card .card-num h3 {
  font-family: "YUniverse-B";
}
#layout #publishing .container .content-wrap .cards .card .card-desc {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 2em 3em;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1.5rem) saturate(180%);
  z-index: 5;
}
#layout #publishing .container .content-wrap .cards .card .card-desc .badges {
  display: flex;
  gap: 1em;
}
#layout #publishing .container .content-wrap .cards .card .card-desc .badges .badge {
  font-size: clamp(1rem, 0.931rem + 0.192vw, 1.2rem);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  padding: 0.5em 1em;
  border-radius: 999em;
  background: rgba(255, 255, 255, 0.1);
}
#layout #publishing .container .content-wrap .cards .card .card-desc .badges .badge i {
  margin-right: 0.5em;
}
#layout #publishing .container .content-wrap .cards .card .card-desc h5 {
  margin-top: 0.5em;
}
#layout #publishing .container .content-wrap .cards .card .card-desc .links {
  display: flex;
  gap: 2em;
  text-transform: capitalize;
  margin-top: 2em;
}